<div class="content-hotgraphic-inner component-inner">
  {{> component this}}
  <div class="content-hotgraphic-widget component-widget">

    <div class="content-hotgraphic-graphic">

      <div class="content-hotgraphic-popup">

        <div class="content-hotgraphic-popup-toolbar component-item-color clearfix">
          <div class="content-hotgraphic-popup-nav component-item-color">
            <a href="#" class="content-hotgraphic-popup-controls back" title="back" alt="back">
              <div class="content-hotgraphic-popup-arrow-l component-item-text-color icon icon-controls-small-left"></div>
            </a>
            <div class="content-hotgraphic-popup-count component-item-text-color">
              <span class="current">1</span>/<span class="total">3</span>
            </div>
            <a href="#" class="content-hotgraphic-popup-controls next" title="next" alt="next">
              <div class="content-hotgraphic-popup-arrow-r component-item-text-color icon icon-controls-small-right"></div>
            </a>
          </div>
          <a href="#" class="content-hotgraphic-popup-done" alt="done" title="done">
            <div class="content-hotgraphic-popup-close component-item-text-color icon icon-cross"></div>
          </a>
        </div>

        <div class="content-hotgraphic-popup-inner clearfix">
          {{#each _items}}
          <div class="content-hotgraphic-item component-item item-{{@index}}">
            <div class="content-hotgraphic-item-graphic">
              <div class="content-hotgraphic-item-graphic-inner">
                <img src="{{_graphic.src}}" alt="{{_graphic.alt}}" title="{{{_graphic.title}}}"/>
              </div>
            </div>
            <div class="content-hotgraphic-item-body">
              <div class="content-hotgraphic-item-body-inner">
                <h5>
                  {{{title}}}
                </h5>
                <p>
                  {{{body}}}
                </p>
              </div>
            </div>
          </div>
          {{/each}}
        </div>

      </div>

      <img src="{{_graphic.src}}" alt="{{_graphic.alt}}" title="{{{_graphic.title}}}"/>
      {{#each _items}}
      <a href="#" class="content-hotgraphic-graphic-pin component-item-text-color {{#if _isVisited}}visited{{/if}}" data-id="item-{{@index}}" style="top:{{{_top}}}%; left:{{{_left}}}%;" title="{{graphicTitle}}">
        <div class="content-hotgraphic-graphic-pin-icon component-item-color icon icon-pin"></div>
      </a>
      {{/each}}
    </div>
  </div>
</div>
