<section class="animate-text-blocks-component component-inner">
    {{> component this}}
    <div class="animate-text-blocks-list clearfix">
        {{#each _items}}
            <div id={{@index}}
                class="animate-text-blocks-item {{#if popup_body}}popup-active{{/if}}"
                style="{{#if background_color}}background-color:{{ background_color }};{{/if}}">
                <div class="animate-text-blocks-content clearfix">
                    {{#if graphic}}
                    <div class="animate-text-blocks-graphic">
                        <img src="{{graphic}}" />
                    </div>
                    {{/if}}
                    <div class="animate-text-blocks-title">
                        <strong>{{{item_title}}}</strong>       
                    </div>
                    <p class="animate-text-blocks-body">{{{a11y_text body}}}</p>
                </div>
            </div>
        {{/each}}
    </div>
    <div>{{{_preLinkBody}}}<a href={{{_link}}}>{{{_linkBody}}}</a>{{_postLinkBody}}</div>
</section>
