.static-flowchart-component{
  .noselect();
}

.static-flowchart-inner {
  border-radius: 15px;
  .noselect();
}

.static-flowchart-item {
  padding-bottom: 0px;
  padding-top: 0px;
  display: flex;
  align-items: center;
  .noselect();
}

.static-flowchart-image {
}

.static-flowchart-text {
  padding: 10px;
  width: 100%;
  min-width: 180px;
  text-align: center;
}

.static-flowchart-title {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: bold;
  .noselect();
}

.static-flowchart-body {
  padding-bottom: 0px;
  padding-left: 0px;
  .noselect();
}

@media screen and (max-width: 680px) {
}