<div class="text-inner component-inner" role="region" aria-label="{{_globals._components._text.ariaRegion}}">
    {{> component this}}
    <div><blockquote class = "caption_bubble"><p><b>hello world</b> hello worldhello worldhello world</p></blockquote></div>
</div>