.jumpLinks-component {

    input[type="radio"] {
        display:none;
    }

    .jump-link-items-box {
        float: left;
        width: 50%;
    }

    .jump-link-widget {
        float: left;
        width: 100%;
    }

    .jump-link-text-box {
        float: right;
        width: ~'calc(50% - 20px)';
        padding: 0 0 0 20px;
    }

    .jump-link-text {
        text-align: center;
        opacity: 0;
    }

    .jump-link-item {
        position: relative;
        float:left;
        width: 100%;
        clear: both;

        .hasGraphic {
            position: relative;
            margin-bottom:10px;
        }
    }

    .jump-link-item label {
        color:@item-text-color;
        display:block;
        border:@item-border;
        margin-bottom:2px;
        position:relative;
        z-index:1;
        background-color: @item-color;
        overflow: hidden;

        img{
            vertical-align: bottom;
        }

        .jump-link-answer-icon {
            color: @item-text-color;
            &:before {
                content: "\e65e";
                color: #E2E8F3
            }
        }

        &.selected {
            color:@item-text-selected-color;
            background-color:@item-selected-color;
            .jump-link-answer-icon{
                &:before {
                    content: "\e633";
                    color: #00CC33;
                }
            }
        }
    }

    .jump-link-item-inner {
        padding:14px;
        margin-left:38px;
        padding-top:13px;
        font-size:18px;
    }

    .jump-link-item input {
        position:absolute;
        top:14px;
        left:25px;
    }

    .jump-link-item-checkbox{
        position: relative;
    }

    .jump-link-item-state {
        background: none;
        position: absolute;
        left: 10px;
        width: @icon-size;
        height: @icon-size;
        top: 50%;
        margin-top: -(@icon-size/2);
        z-index: 0;
    }

    .hasGraphic {
        .jump-link-item-state{
            top: inherit;
            bottom: 16px;
        }
    }

    .jump-link-correct-icon {
        color: @icon-correct-color;
        display: none;
    }

    .jump-link-incorrect-icon {
        color: @icon-incorrect-color;
        display: none;
    }

    .button {
        clear: both;
        float:left;
    }

    .jump-link-widget {

        &.user {
            .jump-link-item-icon {
                display: none;
            }
            .incorrect {
                .selected .jump-link-incorrect-icon {
                    display: block;
                }
            }
            .correct {
                .selected .jump-link-correct-icon {
                    display: block;
                }
            }
        }

        &.model {
            .jump-link-item-icon {
                display: none;
            }
            .selected .jump-link-correct-icon {
                display: block;
            }
        }

        &.disabled {
            .jump-link-item label.selected {
                background-color:@item-selected-color;
            }

            .jump-link-item.correct .selected .state {
                color:@icon-correct-color;
            }

            .jump-link-item.incorrect .selected .state {
                color:@icon-incorrect-color;
            }
        }

    }

}

.jumpLinkFadeIn {
    animation+: jumpLinkTextFadeIn 500ms linear forwards;
}

@keyframes jumpLinkTextFadeIn {
    to {
        opacity: 1;
    }
    from {
        opacity: 0;
    }
}

@media all and (max-width:760px) {
    .jump-link-items-box {
        width: 100% !important;
    }

    .jump-link-text-box {
        width: 100% !important;
        padding: 0 !important;
        height: 100% !important;
    }
}
