.framed-video-component{
    text-align:center;
    max-width:400px;
    height:600px;
    //background-color: white;
    .framed-video-inner{
        position:absolute;
        z-index: 1;
        //background-color: white;
       // background:white;
    }
    .framed-video-overlay{
        height: auto;
        margin:0;
        width: auto;
    	position:absolute;
        z-index: 2;
        max-width:351px;
        pointer-events:none;
        text-align:center;


    }
    /*
    video::-webkit-media-controls {
        display: none;
    }
    */



}

@media (max-width: 760px) {

    .framed-video-component {
        max-width: 100%;
    }

    .framed-video-inner {
        position: relative !important;
        margin: 0 auto !important;
        padding: 0 !important;
    }

}
