.remotetext-component {
	background-color: #3c5a8f;
	color: @font-color-inverted !important;
    //padding-top: 50%;
    //padding-bottom: 50%;
    padding-left: 20px;
    padding-right: 20px;

	// visited link 
	a:visited {
	    color: @facebook-blue;
	    font-weight: 900 !important;
	}

	a:link {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	// mouse over link 
	a:hover {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	//selected link 
	a:active {
	    color: @facebook-blue !important;
	    
	    font-weight: 900 !important;
	}

}