<div class="component-inner dragDrop-inner">
    {{> component this}}
    <div class="dragDropWrap">
		<div class="component-widget dragDrop-widget">
			<div class="dragDrop">
                <div class="answers"></div>
                <div class="droppableZone">
                </div>
            </div>
		</div>
	</div>
    <div id="dragDivHelper"></div>
	<div class="buttons">
		<button class="submitBtn buttons-action" aria-label="{{_buttons._submit}}">{{_buttons._submit}}</button>
		<button class="resetBtn buttons-action" aria-label="{{_buttons._reset}}">{{_buttons._reset}}</button>
    </div>
</div>
