<div class="survey-textbox-inner component-inner">
	{{> component this}}

	<div class="component-widget survey-textbox-widget">
		<div class="survey-textbox-item component-item component-item-color component-item-border clearfix">
			{{#if prefix}}
				<label class="survey-textbox-item-prefix component-item-text-color">{{{prefix}}}</label>
			{{/if}}
			<input type="text" placeholder="{{placeholder}}" class="survey-textbox-item-input" value="{{userSelection}}">
			{{#if suffix}}
				<label class="survey-textbox-item-suffix component-item-text-color">{{{suffix}}}</label>
			{{/if}}
		</div>
	</div>
</div>