.edge-animation-component {
    
  .edge-animation-inner {
	 position: relative;
  }
    
  .center-wrapper{
	/*width: 100%; */
	@media all and (min-width:520px) {
        width:520px;
    }
    @media all and (min-width:760px) {
        width:100%;
    }
    @media all and (min-width:960px) {
        width:960px;
    }
  }
    
    .edge-container{
        margin: 0 auto;
    }

}
