<div class="component-inner animate-box">
    {{> component this}}
	<div class="component-widget animate-box-widget">
        <img class='animate-box-bgImg' src='{{ _backgroundImage.src }}')>
        <div class="animate-box-item-list {{ _list.animationName }}">
             {{#each _items}}
            <div id={{@index}} class="animate-box-item clearFix">
                {{#if graphic}}
                    <div class="box-icon {{ graphic.border }}" {{#if graphic.styleOverride}} style="{{ graphic.styleOverride }}" {{/if}}>
                        <img src="{{graphic.src}}"\/>
                    </div>
                {{/if}}
                <div class="box-title"><strong>{{{ title }}}</strong></div>
                <div class="box-body">{{{ body }}}</div>
            </div>
            {{/each}}
        </div>
        {{#if _graphic.attribution}}
          <div class="graphic-attribution">{{{_backgroundImage.attribution}}}</div>
        {{/if}}
	</div>
</div>
