.narrativeStrip-component {
    height:auto;
    &.desktop {
        .ns-slide-container {
            float: left;
            margin-right: 3%;
            width: 100%;
            height: 100%;
            min-height:400px;
        }
        .ns-slider-graphic {
            margin-right: 0;
            width: 100%;
            height: 100%;
            min-height:350px;
        }
    }

    .ns-slide-container {
        float: left;
        margin-top: 5px;
        overflow-x: hidden;
        position: relative;
        width: 100%;
        max-height:400px;
        min-height:350px;
        padding-bottom:20px;

    }

    .ns-slider-graphic {
        float: left;
        font-size: 0;
        line-height: 1;
        overflow:hidden;
        position: relative;
        padding-bottom:10px;
        .dir-rtl & {
            float: right;
        }
    }

    .ns-controls {
        background-color: @facebook-lightBlue;
        display: block;
        height: (@icon-size*2);
        margin-top: -(@icon-size);
        position: absolute;
        text-decoration: none;
        top: 50%;
        width: (@icon-size*2);
        z-index: 10;

        .icon {
            color: @button-text-color;
            margin: (@icon-size/2);
        }

        &:hover {
            background-color: @button-hover-color;

            .icon {
                color: @button-text-hover-color;
            }
        }
    }

    .ns-control-left {
        left: 0;
        .dir-rtl & {
            right: 0;
            left: auto;
        }
    }

    .ns-control-right {
        right: 0;
        .dir-rtl & {
            left: 0;
            right: auto;
        }
    }

    .ns-strapline {
        bottom: 0;
        color: @inverted-foreground-color;
        height: auto;
        position: absolute;
        }

    .ns-strapline-header {
        position: relative;
    }

    .ns-strapline-header-inner {
        overflow: hidden;

        &.ns-noop {
            background-color: @facebook-blue;
            bottom: 0;
            opacity: .8;
            position: absolute;
        }

        &:not(.ns-noop) {
           bottom: 0;
           position: absolute;
        }
    }

    .ns-strapline-title {
        float: left;
        .dir-rtl & {
            float: right;
        }
    }

    .ns-strapline-title-inner {
        height: 150px;
        padding-left: (@icon-size/2);
        padding-right: (@icon-size/2);
        padding-top: 8px;
    }
    @media only screen and (max-width: 500px) {
        .ns-strapline-title-inner {
            height: 180px;
            padding-left: (@icon-size/2);
            padding-right: (@icon-size/2);
            padding-top: 8px;
        }
    }
    .ns-hidden {
        display: none;
    }
}
