<div class="static-flowchart-inner component-inner">
    {{> component this}}
    <div class="static-flowchart-inner clearfix">
    {{#each _items}}
        <div class="static-flowchart-item">
            <div class="static-flowchart-image">
                <img src="{{{image.src}}}" alt="{{{image.caption}}}"/>
            </div>
            <div class="static-flowchart-text">
                <div class="static-flowchart-title">{{{title}}}</div>
                <div class="static-flowchart-body">{{{a11y_text body}}}</div>
            </div>
        </div>
        <br>
    {{/each}}
    </div>
    <div>{{{_preLinkBody}}}<a href={{{_link}}}>{{{_linkBody}}}</a>{{_postLinkBody}}</div>
</div>