<div class="survey-radio-dropdown-inner component-inner">
	{{> component this}}
    <span class="survey-radio-dropdown-arrow" ></span>
	<select id="item-selector">
        {{#each _items}}
        <option class="option" value={{value}}><h2></h2>{{{label}}}</h2></option>
		{{/each}}
	</select>
</div>
