// Component styles

.sortableWrap {
	margin: 24px 0;
}

.sortable-widget {
	padding: 24px 0;
}

.sortable {
	list-style: none;
}

.sortable-item {
    position: relative;
	width: ~"calc(100% - 26px)";
	min-height: 50px;
	margin: 6px 0px 6px 12px;
	border: 1px solid #000;
	padding: 6px;
	background-color: #4267b2;
    color: #fff;

	&:hover {
		cursor: move;
	}

	&:before {
		content: '\2022\00a0\2022\000a0\2022';
		position: absolute;
		display: inline-block;
		top: 40%;
		bottom: 0;
		left: 12px;
		width: 12px;
		height: 0;
		color: #ffffff;
		font-size: 16px;
		-ms-transform: rotate(90deg); /* IE 9 */
		-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
		transform: rotate(90deg);
	}

	.dir-rtl & {
		margin: 6px 12px 6px 0px;
		&:before {
			top: 63%;
    		right: -6px;
		}
	}

	.sortable-item-inner {
		position: absolute;
		top: 32%;
		font-size: 14px;
		font-weight: bold;
		padding-left: 24px;

		.dir-rtl & {
			padding-left: 0;
			padding-right: 24px;
		}

	}
}

.lighten {
	background-color: lighten(#4267b2, 10%);
}
