{{! Maintainers - Ian Stokes}}
<div class="facebook-animationBox-inner component-inner">
    {{> component this}}
    <script type="text/x-handlebars"> src={{jsClass}}</script>
    <div class="component-stage"></div>
</div>
