{{! Maintainers - Daryl Hedley}}
{{! All links in the nav bar should have an attritbue of data-event, navigationView uses this to fire a global event}}

<div class="navigation-inner clearfix" role="navigation" aria-label="{{_globals._accessibility._ariaLabels.navigation}}">
	<a href="#" class="navigation-exit-button" data-event="exitButton" role="button" aria-label=""><img src='adapt/css/assets/exit.png' ></a>
	<a href="#" class="navigation-back-button icon icon-controls-small-left" data-event="backButton" role="button" aria-label="{{_globals._accessibility._ariaLabels.previous}}"></a>
	<a href="#" class="navigation-drawer-toggle-button icon icon-list" data-event="toggleDrawer" role="button" aria-label="{{_globals._accessibility._ariaLabels.navigationDrawer}}"></a>
    <a href="#" class="page-logo" data-event="homeButton" aria-label=""><img src='adapt/css/assets/facebook.icon.png' ></a>
</div>