.content-hotgraphic-component {

  .content-hotgraphic-graphic {
    position: relative;
  }

  .content-hotgraphic-graphic-pin {
    display: block;
    position: absolute;
    top: 0%;
    left: 0%;
    background-color:@item-text-color;
    border-radius:50%;

    &.visited {
      .content-hotgraphic-graphic-pin-icon {
        color: @item-visited-color;
      }
    }
  }

  .content-hotgraphic-graphic-pin-icon {
    color: @item-color;
    font-size: (@icon-size*2);
    width:auto;
    height:auto;
  }

  .content-hotgraphic-popup {
    display: none;
    width: auto;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    height: auto;
    margin: 40px;
    background-color: @background-color;
    border: @item-border;
    z-index: 5;
  }

  .content-hotgraphic-popup-toolbar {
    padding: @item-padding;
    position: relative;
    background-color: @item-color;
  }

  .content-hotgraphic-popup-nav {
    background-color: @item-color;
  }

  .content-hotgraphic-popup-done {
    color: @item-text-color;
    position: absolute;
    top: @item-padding-top;
    right: @item-padding-right;
  }

  .content-hotgraphic-popup-arrow-l {
    color: @item-text-color;
  }

  .content-hotgraphic-popup-arrow-r {
    color: @item-text-color;
  }

  .content-hotgraphic-popup-close {
    color: @item-text-color;
  }

  .content-hotgraphic-popup-count {
    color: @item-text-color;
    float: left;
    height: 30px;
    line-height: 30px;
    margin-right: @item-padding-right;
    vertical-align: baseline;
  }

  .content-hotgraphic-popup-controls {
    float: left;
    margin-right: @item-padding-right;
    padding: @item-spacing;
  }

  .content-hotgraphic-popup-inner {
    padding: @item-padding;
  }

  .content-hotgraphic-item-graphic {
    width: 50%;
    float: right;
    text-align: center;
  }

  .content-hotgraphic-item-graphic-inner{
    padding-left: @item-padding-left;
  }

  .content-hotgraphic-item-body {
    width: 50%;
    float: left;
  }

  a {
    outline: none;
    text-decoration: none;
  }

}

.no-touch {
  .content-hotgraphic-component {
    .content-hotgraphic-graphic-pin-icon {
      &:hover {
        color: @item-hover-color;
      }
    }
    .content-hotgraphic-popup-close {
      &:hover {
        color: @item-hover-color;
      }
    }
    .content-hotgraphic-popup-arrow-r {
      &:hover {
        color: @item-hover-color;
      }
    }
    .content-hotgraphic-popup-arrow-l {
      &:hover {
        color: @item-hover-color;
      }
    }
  }

}