.reveal-component {
    .reveal-widget {
        position: relative;
        width: 100%;
        height: 100%;

    }

    .reveal-widget-slider {
        display: block;
        position: relative;
        height: 100%;
    }

    .reveal-widget-icon {
        color: @item-text-color;
        position: absolute;
        text-align: center;
        top: 50%;
        vertical-align: middle;
        width: 100%;
    }

    .reveal-widget-item {
        position: relative;
        width: 50%;
        height: 100%;
    }

    .reveal-first-long {

    }

    .reveal-widget-item.reveal-left {
        float: left;
    }

    .reveal-widget-item.reveal-right {
        float: right;
    }

    .reveal-image {
        display: inline-block;
        width: ~'calc(100% - 40px)';
        height: 100%;
    }

    .reveal-image.reveal-right {
        float: right;
        position: relative;
        right: 40px;
    }

    .reveal-image.reveal-left {
        float: left;
        position: relative;
        left: 40px;
    }

    .reveal-widget {
        overflow: hidden;
    }

    .reveal-widget-slider {
        margin-left: 0;
    }
}

.reveal-widget-control {
    background-color: rgba(87, 115, 173, 0.3);
    height: 100%;
    position: absolute;
    z-index: 5;
    width: 40px;

    &.reveal-left {
        left: 0;
        top: 0;
    }

    &.reveal-right {
        right: 0;
        top: 0;
    }

    &:hover {
        background-color: rgba(87, 115, 173, 0.5);
        cursor: pointer;
    }
}

.reveal-widget-item-text {
    position: absolute;
    width: ~'calc(100% - 40px)';
    height: 100%;
    &.reveal-left {
        left: 40px;
        //top: 2px;

    }

    &.reveal-right {
        right: 40px;
        //top: 2px;
    }
}

.reveal-widget-item-text-1{
  position: absolute;
  color: #FFFFFF;
  text-align:center !important;

  &.reveal-left {



    }

    &.reveal-right {



    }
}

.reveal-widget-item-text span {
    display: block;
    font-weight: bold;
    border: none;
    color: #FFFFFF;
    display: block;
    padding: 10px;
    position: relative;
    margin: 0 auto;
    overflow: visible;
    //top: 5px;
    text-align:center !important;

     &.reveal-left {
        left: 0px;
        right: 0px;

    }

    &.reveal-right {
        left: 0px;
        right: 0px;

    }
}

.reveal-widget-item-text1 {
  border: none;
  color: #FFFFFF;
  display: block;
  margin: 0;
  position: absolute;
  overflow: visible;
  left: 0px;
  right: 0px;

     &.reveal-left {

    }

    &.reveal-right {

    }
    text-align:center !important;
}

.reveal-popup {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: @inverted-background-color;
    color: @inverted-foreground-color;
    border:@item-border;
}

.reveal-popup-inner {
    padding:@item-padding;
}

.reveal-popup-toolbar-title {
    margin-bottom: 10px;
    float: left;
    width: 80%;
}

.reveal-popup-content {
    overflow-y: auto;
}

.reveal-popup-open {
    background-color: @button-color;
    display: inline;
    line-height: 100%;
    padding: 3px 5px;
    text-decoration: none;
    z-index: 500;
    .icon {
        color: @inverted-foreground-color;
        &:hover {
            color: lighten(@inverted-background-color, 30%);
        }
    }

    .reveal-icon-plus {
        display: inline;
        display: none;
        text-align: right;
        vertical-align: text-top;
        width: 100%;
    }

    .reveal-link-text {
        color: @item-text-color;
        display: inline;
        vertical-align: baseline;
    }
}

.reveal-popup-close {
    display: inline-block;
    float: right;
    color: @primary-color;
    .icon {
        color:@inverted-foreground-color;
        &:hover {
            color:lighten(@inverted-background-color, 30%);
        }
    }
}

.reveal-hidden {
    display:none !important;
}

.no-touch {
    .reveal-link-text {
        &:hover {
            color: @item-text-hover-color;
        }
    }
}
