<div class="component-inner graphicAnimation-inner">
    {{> component this}}
  	<div class="component-widget graphicAnimation-widget">
        <div class="graphicAnimation-item component-item">
            <div class="graphicAnimation-wrap graphicAnimation-img-top-wrap">
                <img src="{{{_graphicTop.src}}}" alt="{{{_graphicTop.alt}}}" class="graphicAnimation-img-top graphicAnimation-hidden" />
                <!-- Start top graphic text -->
                {{#if _graphicTop.topText}}
                    <div class="graphicAnimation-text graphicAnimation-topText graphicAnimation-hidden" style="
                    {{#if _graphicTop.padding}}padding:{{{_graphicTop.padding}}};{{/if}}
                    {{#if _graphicTop.topTextMaxWidth}}max-width:{{{_graphicTop.topTextMaxWidth}}};{{/if}}
                    {{#if _graphicTop.topTextVerticleAlign}}top:{{{_graphicTop.topTextVerticleAlign}}};{{/if}}
                    {{#if fontSize}}font-size:{{{fontSize}}};{{/if}}
                    {{#if fontColor}}color:{{{fontColor}}};{{/if}}">
                    {{{_graphicTop.topText}}}
                    </div>
                {{/if}}

    			{{#if _graphicTop.midText}}
                    <div class="graphicAnimation-text graphicAnimation-midText graphicAnimation-hidden" style="
                    {{#if _graphicTop.padding}}padding:{{{_graphicTop.padding}}};{{/if}}
                    {{#if _graphicTop.midTextMaxWidth}}max-width:{{{_graphicTop.midTextMaxWidth}}};{{/if}}
                    {{#if _graphicTop.midTextVerticleAlign}}top:{{{_graphicTop.midTextVerticleAlign}}};{{/if}}
                    {{#if fontSize}}font-size:{{{fontSize}}};{{/if}}
                    {{#if fontColor}}color:{{{fontColor}}};{{/if}}">
                    {{{_graphicTop.midText}}}
                    </div>
                {{/if}}

    			{{#if _graphicTop.bottomText}}
                    <div class="graphicAnimation-text graphicAnimation-bottomText graphicAnimation-hidden" style="
                    {{#if _graphicTop.padding}}padding:{{{_graphicTop.padding}}};{{/if}}
                    {{#if _graphicTop.bottomTextMaxWidth}}max-width:{{{_graphicTop.bottomTextMaxWidth}}};{{/if}}
                    {{#if _graphicTop.bottomTextVerticleAlign}}top:{{{_graphicTop.bottomTextVerticleAlign}}};{{/if}}
                    {{#if fontSize}}font-size:{{{fontSize}}};{{/if}}
                    {{#if fontColor}}color:{{{fontColor}}};{{/if}}">
                    {{{_graphicTop.bottomText}}}
                    </div>
                {{/if}}
                <!-- End top graphic text -->
            </div>

            <div class="graphicAnimation-wrap graphicAnimation-img-bottom-wrap">
                <img src="{{{_graphicBottom.src}}}" alt="{{{_graphicBottom.alt}}}" class="graphicAnimation-img-bottom graphicAnimation-hidden"/>
                <!-- Start bottom graphic text -->
                {{#if _graphicBottom.topText}}
                    <div class="graphicAnimation-text graphicAnimation-topText graphicAnimation-hidden" style="
                    {{#if _graphicBottom.padding}}padding:{{{_graphicBottom.padding}}};{{/if}}
                    {{#if _graphicBottom.topTextMaxWidth}}max-width:{{{_graphicBottom.topTextMaxWidth}}};{{/if}}
                    {{#if _graphicBottom.topTextVerticleAlign}}top:{{{_graphicBottom.topTextVerticleAlign}}};{{/if}}
                    {{#if fontSize}}font-size:{{{fontSize}}};{{/if}}
                    {{#if fontColor}}color:{{{fontColor}}};{{/if}}">
                    {{{_graphicBottom.topText}}}
                    </div>
                {{/if}}

    			{{#if _graphicBottom.midText}}
                    <div class="graphicAnimation-text graphicAnimation-midText graphicAnimation-hidden" style="
                    {{#if _graphicBottom.padding}}padding:{{{_graphicBottom.padding}}};{{/if}}
                    {{#if _graphicBottom.midTextMaxWidth}}max-width:{{{_graphicBottom.midTextMaxWidth}}};{{/if}}
                    {{#if _graphicBottom.midTextVerticleAlign}}top:{{{_graphicBottom.midTextVerticleAlign}}};{{/if}}
                    {{#if fontSize}}font-size:{{{fontSize}}};{{/if}}
                    {{#if fontColor}}color:{{{fontColor}}};{{/if}}">
                    {{{_graphicBottom.midText}}}
                    </div>
                {{/if}}

                {{#if _graphicBottom.bottomText}}
                    <div class="graphicAnimation-text graphicAnimation-bottomText graphicAnimation-hidden" style="
                    {{#if _graphicBottom.padding}}padding:{{{_graphicBottom.padding}}};{{/if}}
                    {{#if _graphicBottom.bottomTextMaxWidth}}max-width:{{{_graphicBottom.bottomTextMaxWidth}}};{{/if}}
                    {{#if _graphicBottom.bottomTextVerticleAlign}}top:{{{_graphicBottom.bottomTextVerticleAlign}}};{{/if}}
                    {{#if fontSize}}font-size:{{{fontSize}}};{{/if}}
                    {{#if fontColor}}color:{{{fontColor}}};{{/if}}">
                    {{{_graphicBottom.bottomText}}}
                    </div>
                {{/if}}
                <!-- End bottom graphic text -->
            </div>
        </div>
  	</div>
</div>
