.mobile-animation-inner {

  h3 {
    font-size: 2.4em;
  }

  .mobile-animation-image-left {
    display: block;
    float: left;
    width: 35%;
    padding-right: 15px;
  }

  .mobile-animation-image-right {
    display: none;
  }

  .mobile-animation-item {
    display: flex;
    height: 100px;
    align-items: center;
    cursor: pointer;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;

    .mobile-animation-line {
        width: 44%;
        max-width: 182px;
    }

    .mobile-animation-icon {
      padding: 0px 1%;
      max-height: 69px;
      width: 17%;
      max-width: 69px;
    }
  }

  @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
   }

   @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
   }

   .fadeIn {
      -webkit-animation-name: fadeIn;
      animation-name: fadeIn;
   }
}

html.dir-rtl {
  .mobile-animation-line {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
  }

  .mobile-animation-items {
    //float: left;
    width: 60%;
    display: inline-block;
    position: relative;
    right: 5%;
  }

  .mobile-animation-image-left {
    display: none;
  }

  .mobile-animation-image-right {
    //display: block;
    display: inline-block;
    float: right;
    width: 35%;

    img {
        max-width: 226px;
        max-height: 475px;
    }
  }
}

@media screen and (max-width: 680px) {
  .mobile-animation-image-left {
    display: none !important;
  }

  .mobile-animation-image-right {
    display: none !important;
  }

  .mobile-animation-line {
    display: none;
  }

  .mobile-animation-items {
      width: 100%;
  }
}
