<div class="graphic-inner component-inner" role="region" aria-label="{{_globals._components._graphic.ariaRegion}}">
    {{> component this}}
    <div class="graphic-widget component-widget{{#if _graphic.attribution}} graphic-widget-attribution{{/if}}" >
      <img src="{{_graphic.src}}" class="image-align" {{#if _graphic.left}} style="float: left; display: block;" {{/if}} {{#if _graphic.right}} style="float: right; display: block;" {{/if}} {{#if _graphic.alt}} aria-label="{{_graphic.alt}}" tabindex="0"{{else}} class="a11y-ignore" aria-hidden="true" tabindex="-1"{{/if}}/>
    </div>
    <div class="clearFix"></div>
    {{#if _graphic.attribution}}
      <div class="graphic-attribution">{{{_graphic.attribution}}}</div>
    {{/if}}
</div>
