.stacker-component {
    .stacker-item {
        position:relative;
        margin-bottom: @item-spacing;
    }
    .stacker-item-inner {
        padding-left:(@icon-size);
        padding-right:(@icon-size);
    }

    .stacker-item-navigation {
        position:absolute;
        i {
            position:absolute;
            top:50%;
            margin-top: -(@icon-size/2);
        }
        &:hover {
            background-color:@item-hover-color;
            i {
                color:@item-text-hover-color;
            }
        }
    }

    .stacker-item-navigation-left {
        width:(@icon-size);
        height:100%;
        top: 0;
        left: 0;
    }

    .stacker-item-navigation-right {
        width:(@icon-size);
        height:100%;
        top: 0;
        right: 0;
    }

    .stacker-item-marking {
        position:absolute;
        width:(@icon-size);
        left:(@icon-size*2);
        top:50%;
        margin-left: -(@icon-size/2);
        z-index:1;
        margin-top: -(@icon-size/2);
        i {
            display:none;
            color:@item-text-color;
        }
    }

    .stacker-item-sorter {
        position: absolute;
        width:(@icon-size);
        left:(@icon-size*2);
        top:50%;
        margin-left: -(@icon-size/2);
        z-index:2;
        margin-top: -(34px/2);
        text-align:center;
        line-height:18px;
        text-decoration: none;
        color:@item-text-color;
        i {
            font-size:12px;
            height:8px;
            color:@item-text-color;
        }
        &:hover {
            color:@item-hover-color;
            i {
                color:@item-hover-color;
            }
        }
    }

    .stacker-item-texts-holder {
        overflow:hidden;
    }

    .stacker-item-texts {
        display: block;
        position: relative;
        color: @item-text-color;
        background-color: @item-color;
        text-decoration: none;
        border:@item-border;
    }

    .stacker-item-text {
        float:left;
        &-inner {
            padding: @item-padding;
            padding-left:(@icon-size+(@item-padding-left*2));
        }
    }

    .stacker-item-sorter-picker {
        background-color: @item-hover-color;
        position:absolute;
        top:50%;
        left: 32px;
        z-index:50;
        border-radius:2px;
        opacity:0;
        transition: opacity 0.3s;
        border:1px solid @item-hover-color;
        &.show {
            opacity:1
        }
        .stacker-item-sorter-picker-pin {
            position:absolute;
            left:-8px;
            top:50%;
            width: 0; 
            height: 0; 
            margin-top:-8px;
            border-top: 8px solid transparent;
            border-bottom: 8px solid transparent; 
            border-right:8px solid @item-hover-color; 
        }
        .stacker-item-sorter-picker-selector {
            display:block;
            width:32px;
            height:32px;
            padding:4px;
            color: @item-text-hover-color;
            line-height:32px;
            text-align:center;
            text-decoration: none;
            &:hover {
                background-color:@item-color;
            }
        }
    }

    // Component type classes
    .stacker-not-ordering {
        .stacker-item-sorter {
            display:none;
        }
    }

    .stacker-not-sliding {
        .stacker-item-navigation {
            display:none;
        }
        .stacker-item-inner {
            padding:0;
        }
        .stacker-item-sorter {
            left:@icon-size;
        }
        .stacker-item-marking {
            left:@icon-size;
        }
    }

    // State classes

    .first-child {
        .stacker-item-sorter-up {
            visibility:hidden;
        }
    }

    .last-child {
        .stacker-item-sorter-down {
            visibility:hidden;
        }
    }

    .submitted {
        // Hide sorter on complete as it's got a higher z-index
        .stacker-item-sorter {
            display:none;
        }
        .stacker-item-navigation {
            cursor:default!important;
            background-color:@button-disabled-color!important;
            i {
                color:@button-text-disabled-color!important;
            }
        }
        .stacker-item-sorter {
            cursor:default!important;
            i {
                color:@item-color!important;
            }
        }
    }

    .component-widget {
        &.show-user-answer {
            .incorrect {
                .stacker-item-marking-incorrect {
                    display:block;
                }
            }
            .correct {
                .stacker-item-marking-correct {
                    display:block;
                }
            }
        }

        &.show-correct-answer {
            .stacker-item-marking-correct {
                display:block;
            }
        }

        &.disabled {
            .stacker-item label.selected.disabled {
                color:@item-text-selected-color;
                background-color:@item-selected-color;
                border-color:@item-border-selected-color;
                cursor:default;
            }
            .stacker-item label.disabled {
                color:@item-text-disabled-color;
                background-color:@item-disabled-color;
                border-color:@item-border-disabled-color;
                cursor:default;
            }
        }
    }

}