.content-accordion-component {

  .content-accordion-item {
    margin-bottom: @item-spacing;
  }

  .content-accordion-item-title-icon {
    position: absolute;
    top: 50%;
    left: @item-padding-left;
    margin-top: -(@icon-size/2);
    color:@item-text-color;
  }

  .content-accordion-item-title {
    display: block;
    position: relative;
    padding: @item-padding;
    padding-left:(@icon-size+(@item-padding-left*2));
    color: @item-text-color;
    background-color: @item-color;
    text-decoration: none;
    border:@item-border;
    }

    /*&.visited {
        color:@item-text-visited-color;
        background-color:@item-visited-color;
        border-color:@item-border-selected-color;
    }

    &.selected {
        color:@item-text-visited-color;
        background-color:@item-visited-color;
        border-color:@item-border-selected-color;
    }
    .no-touch & {
      &:hover {
        color:@item-text-visited-color;
        background-color:@item-visited-color;
        border-color:@item-border-selected-color;
      }
      &.visited:hover {
        color:@item-text-visited-color;
        background-color:@item-visited-color;
        border-color:@item-border-selected-color;
      }
    }*/

  }

  .content-accordion-item-body {
    color:@foreground-color;
    background-color:@white;
    display: none;
    border-right: @item-border;
    border-left: @item-border;
    border-bottom: @item-border;
  }

.content-accordion-item-body-inner {
    @facebook-blue:#4267b2;
    @facebook-green:#6BCEBB;
    @red: #f26c4f;
    @green: #82ca9c;
	background-color:#ffffff;
	color: #000000;
    padding: @item-padding;

	a:visited {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	a:link {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	a:hover {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	a:active {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}
}
