<div class="component-inner textbox-info">
    {{> component this}}
    <div class="component-widget textbox-info-widget')">
        <div class="textbox-info-list clearfix list-length-{{ _items.length }}">
            {{#each _items}}
            <div id={{@index}} class="textbox-info-item cell">
                <div class="square"></div>
                <div class="content">
                    <div class="title">
                        <strong>{{{ title }}}</strong>
                    </div>
                    <p class="body">{{{ body }}}</p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>