.submit-button-component {
  .submit-button-inner {

        //background-color:@item-color;
        position:relative;
    	text-align:center;

    	
  }
  .submit-button-text {
	padding-top:10px;
    padding-bottom:10px;
  	color:#ffffff;
  	font-weight: 900;
  	
  }
}
