.graphic-widget-attribution {
    //this could be used to set the position to relative, and then graphic-attribution div to be absolute
}

.graphic-attribution {
    float: left;
    margin: 10px 0 10px 0;
    text-align: center;
    font-size:0.75em;
    line-height: 1em;
}

.image-align {
    display: block;
    margin: 0 auto;
}
