<!-- NOTES: make text cursor pointer if FB -->
<div class="component-inner branchChart-inner">
    {{> component this}}
	<div class="component-widget branchChart-widget">
        <div class="branchChart-item-inner" style="width:{{{componentWidth}}}; {{#if_value_equals align "center"}}margin: 0 auto;{{else}}float:{{{align}}}{{/if_value_equals}}">

            <div class="branchChart-topText branchChart-text" id="topFb" style="background-color:{{{backgroundColor}}}; color:{{{fontColorText}}}; font-size:{{{fontSizeText}}}; {{#if verticalPadding}}padding-top: {{{verticalPadding}}}; padding-bottom: {{{verticalPadding}}};{{/if}} {{#if _feedback.topFb}}cursor:pointer;{{/if}}">
                <span class="branchChart-heading">{{{topText}}}</span>
                {{#if isSubHeading}}{{#if _feedback.topFb}}<span class="branchChart-subHeading">Click to learn more</span>{{/if}}{{/if}}
            </div>

            <div class="branchChart-caption branchChart-topCaption" style="font-size:{{{fontSizeCaption}}}; color:{{{fontColorCaption}}}; border-color:{{{borderColor}}};">{{{topCaption}}}</div>

            <div dir='ltr' class="branchChart-lineWrap">
                <div dir='ltr' class="branchChart-topLineLeft" style="border-color:{{{borderColor}}};"></div>
                <div dir='ltr' class="branchChart-topLineRight" style="border-color:{{{borderColor}}};"></div>
            </div>

            <div class="branchChart-textWrap">
                <div class="branchChart-midLeftText branchChart-text" id="midLeftFb" style="background-color:{{{backgroundColor}}}; color:{{{fontColorText}}}; font-size:{{{fontSizeText}}}; {{#if verticalPadding}}padding-top: {{{verticalPadding}}}; padding-bottom: {{{verticalPadding}}};{{/if}} {{#if _feedback.midLeftFb}}cursor:pointer;{{/if}}">
                    {{#if midLeftText}}<span class="branchChart-heading">{{{midLeftText}}}</span>{{/if}}
                    {{#if isSubHeading}}{{#if _feedback.midLeftFb}}<span class="branchChart-subHeading">Click to learn more</span>{{/if}}{{/if}}
                </div>
                <div class="branchChart-midRightText branchChart-text" id="midRightFb" style="background-color:{{{backgroundColor}}}; color:{{{fontColorText}}}; font-size:{{{fontSizeText}}}; {{#if verticalPadding}}padding-top: {{{verticalPadding}}}; padding-bottom: {{{verticalPadding}}};{{/if}} {{#if _feedback.midRightFb}}cursor:pointer;{{/if}}">
                    {{#if midRightText}}<span class="branchChart-heading">{{{midRightText}}}</span>{{/if}}
                    {{#if isSubHeading}}{{#if _feedback.midRightFb}}<span class="branchChart-subHeading">Click to learn more</span>{{/if}}{{/if}}
                </div>
            </div>

            <div class="branchChart-caption" style="font-size:{{{fontSizeCaption}}}; color:{{{fontColorCaption}}}; border-color:{{{borderColor}}};">{{{midCaption}}}</div>

            <div dir='ltr' class="branchChart-lineWrap">
                <div dir='ltr' class="branchChart-textDividerLeft">
                    <div dir='ltr' class="branchChart-bottomLineLeft" style="border-color:{{{borderColor}}};"></div>
                    <div dir='ltr' class="branchChart-bottomLineRight" style="border-color:{{{borderColor}}};"></div>
                </div>

                <div dir='ltr' class="branchChart-textDividerRight">
                    <div dir='ltr' class="branchChart-bottomLineLeft" style="border-color:{{{borderColor}}}";></div>
                    <div dir='ltr' class="branchChart-bottomLineRight" style="border-color:{{{borderColor}}}";></div>
                </div>

            </div>

            <div class="branchChart-textWrap">
                <div class="branchChart-textDividerLeft">
                    <div class="branchChart-bottomLeftText branchChart-text" id="bottomLeftOuterFb" style="background-color:{{{backgroundColor}}}; color:{{{fontColorText}}}; font-size:{{{fontSizeText}}}; {{#if verticalPadding}}padding-top: {{{verticalPadding}}}; padding-bottom: {{{verticalPadding}}};{{/if}} {{#if _feedback.bottomLeftOuterFb}}cursor:pointer;{{/if}}">
                        {{#if bottomLeftOuterText}}<span class="branchChart-heading">{{{bottomLeftOuterText}}}</span>{{/if}}
                        {{#if isSubHeading}}{{#if _feedback.bottomLeftOuterFb}}<span class="branchChart-subHeading">Click to learn more</span>{{/if}}{{/if}}
                    </div>

                    <div class="branchChart-bottomRightText branchChart-text" id="bottomLeftInnerFb" style="background-color:{{{backgroundColor}}}; color:{{{fontColorText}}}; font-size:{{{fontSizeText}}}; {{#if verticalPadding}}padding-top: {{{verticalPadding}}}; padding-bottom: {{{verticalPadding}}}{{/if}} {{#if _feedback.bottomLeftInnerFb}}cursor:pointer;{{/if}}">
                        {{#if bottomLeftInnerText}}<span class="branchChart-heading">{{{bottomLeftInnerText}}}</span>{{/if}}
                        {{#if isSubHeading}}{{#if _feedback.bottomLeftInnerFb}}<span class="branchChart-subHeading">Click to learn more</span>{{/if}}{{/if}}
                    </div>
                </div>
                <div class="branchChart-textDividerRight">
                    <div class="branchChart-bottomLeftText branchChart-text" id="bottomRightInnerFb" style="background-color:{{{backgroundColor}}}; color:{{{fontColorText}}}; font-size:{{{fontSizeText}}}; {{#if verticalPadding}}padding-top: {{{verticalPadding}}}; padding-bottom: {{{verticalPadding}}};{{/if}}{{#if bottomRightInnerText}}cursor:pointer;{{/if}}">
                        {{#if bottomRightInnerText}}<span class="branchChart-heading">{{{bottomRightInnerText}}}</span>{{/if}}
                        {{#if isSubHeading}}{{#if _feedback.bottomRightInnerFb}}<span class="branchChart-subHeading">Click to learn more</span>{{/if}}{{/if}}
                    </div>
                    <div class="branchChart-bottomRightText branchChart-text" id="bottomRightOuterFb" style="background-color:{{{backgroundColor}}}; color:{{{fontColorText}}}; font-size:{{{fontSizeText}}}; {{#if verticalPadding}}padding-top: {{{verticalPadding}}}; padding-bottom: {{{verticalPadding}}};{{/if}} {{#if _feedback.bottomRightOuterFb}}cursor:pointer;{{/if}}">
                        {{#if bottomRightOuterText}}<span class="branchChart-heading">{{{bottomRightOuterText}}}</span>{{/if}}
                        {{#if isSubHeading}}{{#if _feedback.bottomRightOuterFb}}<span class="branchChart-subHeading">Click to learn more</span>{{/if}}{{/if}}
                    </div>
                </div>
            </div>

            <div class="branchChart-caption" style="font-size:{{{fontSizeCaption}}}; color:{{{fontColorCaption}}}; border-color:{{{borderColor}}};">{{{bottomCaption}}}</div>

            <div dir='ltr' class="branchChart-lineWrap">
                <div dir='ltr' class="branchChart-textDividerLeft">
                    <div dir='ltr' class="branchChart-lastRow-line-left" style="border-color:{{{borderColor}}};"></div>
                    <div dir='ltr' class="branchChart-lastRow-line-right" style="border-color:{{{borderColor}}};"></div>
                </div>

                <div dir='ltr' class="branchChart-textDividerRight">
                    <div dir='ltr' class="branchChart-lastRow-line-left" style="border-color:{{{borderColor}}}";></div>
                    <div dir='ltr' class="branchChart-lastRow-line-right" style="border-color:{{{borderColor}}}";></div>
                </div>
            </div>

            <div class="branchChart-textWrap">
                <div class="branchChart-textDividerLeft">
                    <div class="branchChart-bottomLeftText branchChart-text branchChart-last-row-text" id="lastRowLeftOuterFb" style="background-color:{{{backgroundColor}}}; color:{{{fontColorText}}}; font-size:{{{fontSizeText}}}; {{#if verticalPadding}}padding-top: {{{verticalPadding}}}; padding-bottom: {{{verticalPadding}}};{{/if}} {{#if _feedback.lastRowLeftOuterFb}}cursor:pointer;{{/if}}">
                        {{#if lastRowLeftOuterText}}<span class="branchChart-heading">{{{lastRowLeftOuterText}}}</span>{{/if}}
                        {{#if isSubHeading}}{{#if _feedback.lastRowLeftOuterFb}}<span class="branchChart-subHeading">Click to learn more</span>{{/if}}{{/if}}
                    </div>

                    <div class="branchChart-bottomRightText branchChart-text branchChart-last-row-text" id="lastRowLeftInnerFb" style="background-color:{{{backgroundColor}}}; color:{{{fontColorText}}}; font-size:{{{fontSizeText}}}; {{#if verticalPadding}}padding-top: {{{verticalPadding}}}; padding-bottom: {{{verticalPadding}}};{{/if}} {{#if _feedback.lastRowLeftInnerFb}}cursor:pointer;{{/if}}">
                        {{#if lastRowLeftInnerText}}<span class="branchChart-heading">{{{lastRowLeftInnerText}}}</span>{{/if}}
                        {{#if isSubHeading}}{{#if _feedback.lastRowLeftInnerFb}}<span class="branchChart-subHeading">Click to learn more</span>{{/if}}{{/if}}
                    </div>
                </div>
                <div class="branchChart-textDividerRight">
                    <div class="branchChart-bottomLeftText branchChart-text branchChart-last-row-text" id="lastRowRightInnerFb" style="background-color:{{{backgroundColor}}}; color:{{{fontColorText}}}; font-size:{{{fontSizeText}}}; {{#if verticalPadding}}padding-top: {{{verticalPadding}}}; padding-bottom: {{{verticalPadding}}};{{/if}} {{#if _feedback.lastRowRightInnerFb}}cursor:pointer;{{/if}}">
                        {{#if lastRowRightInnerText}}<span class="branchChart-heading">{{{lastRowRightInnerText}}}</span>{{/if}}
                        {{#if isSubHeading}}{{#if _feedback.lastRowRightInnerFb}}<span class="branchChart-subHeading">Click to learn more</span>{{/if}}{{/if}}
                    </div>
                    <div class="branchChart-bottomRightText branchChart-text branchChart-last-row-text" id="lastRowRightOuterFb" style="background-color:{{{backgroundColor}}}; color:{{{fontColorText}}}; font-size:{{{fontSizeText}}}; {{#if verticalPadding}}padding-top: {{{verticalPadding}}}; padding-bottom: {{{verticalPadding}}};{{/if}} {{#if _feedback.lastRowRightOuterFb}}cursor:pointer;{{/if}}">
                        {{#if lastRowRightOuterText}}<span class="branchChart-heading">{{{lastRowRightOuterText}}}</span>{{/if}}
                        {{#if isSubHeading}}{{#if _feedback.lastRowRightOuterFb}}<span class="branchChart-subHeading">Click to learn more</span>{{/if}}{{/if}}
                    </div>
                </div>
            </div>

            <div class="branchChart-caption" style="font-size:{{{fontSizeCaption}}}; color:{{{fontColorCaption}}}; border-color:{{{borderColor}}};">{{{lastRowCaption}}}</div>

        </div>
	</div>
</div>
