.component-inner {
	/* visited link */
    /*
	a:visited {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	a:link {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	
	a:hover {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	
    
	a:active {
	    color: @facebook-blue !important;
	    
	    font-weight: 900 !important;
	}
    */
    .popups {
       //color:#FF0000;
       text-decoration:none; 
    }
}