@padding: 10px;
@margin-bottom: 20px;
@padding-top: 20px;

.text-component {
	a:visited {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	a:link {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	a:hover {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	a:active {
	    color: @facebook-blue !important;

	    font-weight: 900 !important;
	}
}

/////Text 2 column Responsive Divs/////

.leftDiv2colText {
	width: ~"calc(49% - 140px)";
	float: left;
	padding-left: 140px;
	padding-top: 10px;
	text-align: center;
}

.rightDiv2colText  {
    width: ~"calc(49% - 130px)";
    float:left;
    padding-right: 130px;
    text-align: center;
}

@media only screen and (max-width: 760px) {

    .leftDiv2colText  {
		width: ~"calc(49% - 78px)";
		padding-left: 78px;
		font-size: 14px;
    }

	.rightDiv2colText  {
		width: ~"calc(49% - 25px)";
		padding-right: 25px;
		font-size: 14px;
	}
}

/////Text 2 column Responsive Divs End/////

/////Text 2 column Brand Awareness Responsive Divs/////

	.leftDiv2colTextAwareness {
		width: ~"calc(49%)";
		float: left;
		text-align: center;
	}

	.rightDiv2colTextAwareness {
		width: ~"calc(49%)";
		float:left;
		text-align: center;
	}

	.boldText {
		font-size: 18px;
		font-weight: bold;
	}

	@media only screen and (max-width: 760px) {

			.leftDiv2colTextAwareness  {
				font-size: 14px;
			}

			.rightDiv2colTextAwareness  {
				font-size: 14px;
			}
	}

/////Text 2 column Brand Awareness Responsive Divs End/////

/////2 Column Flex Box Callout Component/////
.wrapper-flex {
  display: -ms-flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: flex;
	background-color: #eceff5;
}

@media all and (max-width: 768px) {
  .wrapper-flex {
    display: block;
  }
}

.wrapper-flex .flex {
  box-sizing: border-box;
  padding: 15px;
}

.wrapper-flex .flex.item1 {
  flex: 1;
  background-color: #eceff5;
}

.wrapper-flex .flex.item1 .flex-image {
	display: block;
	margin: 0 auto;
}

@media all and (max-width: 768px) {
  .wrapper-flex .flex.item1 {
    flex: none;
  }
}

.wrapper-flex .flex.item2 {
  background-color: #eceff5;
  -ms-flex: 8;
  -webkit-flex: 8;
  -moz-flex: 8;
  flex: 8;
}

@media all and (max-width: 768px) {
  .wrapper-flex .flex.item2 {
    -webkit-flex: none;
    flex: none;
  }
}

/////2 Column Flex Box Callout Component End/////

/////2 column Left and Right Responsive Divs/////

	.leftDiv2col {
        width: ~"calc(66% - 20px)";
        float:right;
        padding: @padding;
	}

	.rightDiv2col {
        width: ~"calc(33% - 20px)";
        float:right;
        padding: @padding;
	}

	.imageFullWidth {
		display: block;
		width:100%;
		margin: 0 auto;
	}

	.imageCenterBlock {
		display: block;
		margin: 0 auto;
	}

	.marginTop110px {
		margin-top: 110px;
	}

	.marginTop130px {
		margin-top: 130px;
	}

	.marginTop135px {
		margin-top: 135px
	}

	.marginTop140px {
		margin-top: 140px
	}

	.marginTop150px {
		margin-top: 150px
	}

	.marginTop180px {
		margin-top: 180px
	}

	.marginTop200px {
		margin-top: 200px
	}

	@media only screen and (max-width: 760px) {

	    .leftDiv2col {
	      width: ~"calc(100%)";
	    }

	    .rightDiv2col {
	      width: ~"calc(100%)";
	    }

			.marginTop110px {
				margin-top: 0px;
			}

			.marginTop130px {
				margin-top: 0px;
			}

			.marginTop135px {
				margin-top: 0px;
			}

			.marginTop140px {
				margin-top: 0px;
			}

			.marginTop150px {
				margin-top: 0px;
			}

			.marginTop180px {
				margin-top: 0px;
			}

			.marginTop200px {
				margin-top: 0px;
			}

	}

/////2 column Left and Right Responsive Divs End/////

/////Videos 3 column Responsive Divs/////

	.leftDiv3col {
	  width: ~"calc(33% - 20px)";
	  float:right;
		padding: @padding;
	}

	.centerDiv3col {
		width: ~"calc(33% - 20px)";
		float:right;
		padding: @padding;
	}

	.rightDiv3col {
		width: ~"calc(33% - 20px)";
		float:right;
		padding: @padding;
	}

	.videoCenter {
		display: block;
		margin: 0 auto;
		width: 240px;
	}

	.textCenter {
		text-align: center;
	}

	@media only screen and (max-width: 760px) {

	    .leftDiv3col {
	      width: ~"calc(100%)";
	    }

	    .centerDiv3col {
	      width: ~"calc(100%)";
	    }

			.rightDiv3col {
				width: ~"calc(100%)";
			}
	}

/////Videos 3 column Responsive Divs End/////

/////Text 3 column Responsive Divs/////

	.leftDiv3colText {
		width: ~"calc(33% - 50px)";
		float: left;
		padding-left: 50px;
		padding-top: 10px;
		text-align: center;
	}

	.centerDiv3colText  {
		width: ~"calc(33%)";
		float:left;
		text-align: center;
	}

	.rightDiv3colText  {
		width: ~"calc(33% - 40px)";
		float:left;
	  padding-right: 40px;
		text-align: center;
	}

	@media only screen and (max-width: 760px) {

	    .leftDiv3colText  {
				font-size: 14px;
	    }

	    .centerDiv3colText  {
				font-size: 14px;
	    }

			.rightDiv3colText  {
				font-size: 14px;
			}
	}

/////Text 3 column Responsive Divs/////

/////Text Over Image/////

.wrapper {
  position: relative;
}

.textWrap {
    position: absolute;
    right: 0;
    width: 25%;
    height: 55%;
}

.textWrap::before {
      content: " ";
      display: inline-block;
      height: 100%;
      width: 1%;
      vertical-align: middle;
}

.textFloat {
    width: 93%;
    color: white;
    display: inline-block;
    vertical-align: middle;

}

.text {
    width: 100%;
    height: 100%;
    text-align: center;
		font-size: 20px;
}

.imageAbsolute {
  position: relative;
}

@media only screen and (max-width: 760px) {

		.text {
			font-size: 14px;
		}
}

/////Text Over Image End/////

/////Blueprint Button////

		.fb-button-float-right {
			float:right;
		}

		.fb-button-float-left {
			float:left;
		}

		.fb-button-wrapper{
			text-align: center;
		}

		.bp-button {
			margin: 10px 10px;
			padding: 15px 65px;
			background-color: #4080ff; /* Facebook Blue */
			border: none;
			color: white;
			font-weight: bold !important;
			letter-spacing: normal;
			display: inline-block;
			text-decoration: none;
			font-size: 16px;
			border-radius: 2px;
			cursor: pointer;
			-webkit-transition-duration: 0.4s; /* Safari */
			transition-duration: 0.4s;
		}

		.bp-button:hover {
			background-color: #365899; /* Dark blue */
			color: white;
			box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
		}

/////Blueprint Button End////

/////Conversions Course Component 1 Off/////

	.textCompWapper {
		width: ~"calc(100%)";
		min-height: 214px;
		background-color:#eceff5;
	}

	.textCompLeftDiv {
	  width: ~"calc(20%)";
		height: auto;
	  float:left;
		background-color:#eceff5;
	}

	.textCompImageCenter {
		display: block;
    margin: 0 auto;
		width:100%;
	}

	.textCompRightDiv {
	  width: ~"calc(80% - 60px)";
		height: auto;
		margin-bottom: 20px;
		padding: 30px;
	  float:right;
		background-color:#eceff5;
	}
	@media only screen and (max-width: 760px) {
	    .textCompLeftDiv {
	        width: ~"calc(100%)";
	    }
			.textCompImageCenter {
				width:~"calc(50%)";
			}
	    .textCompRightDiv {
	      width: ~"calc(100% - 60px)";
	    }
	}

/////Conversions Course Component 1 Off End/////

/////creative_considerations_for_mobile_video_us_en Course Component/////

	.horizontal-mobile{
		overflow-x: auto !important;
	}

	.main-wrapper {
		width: ~"calc(900px - 40px)";
		height: 575px;
		box-sizing: border-box;
		padding: 20px;
		background-color: #fff;

	}

	.contentWrapper {
		width: ~"calc(90%)";
		height: 210px;
		margin: 0 auto;
	}

	.contentPiecesWrapper {
		float: left;
		width: ~"calc(12.5%)";
	}

	.contentPiecesWrapperTopMarginEven {
		margin-top: 60px;
	}

	.contentPiecesWrapperTopMarginOdd {

	}

	.circleText {
		margin-bottom: 15px;
		font-size: 18px;
		font-weight: bold;
		color: #black;
		text-align: center;
	}

	.circle {
		background-color: #4484fb;
		width: 40px;
		height: 40px;
		margin: auto;
		border-radius: 50%;
		/* width and height can be anything, as long as they're equal */
	}

	.arrow-wrapper {
		position: relative;
		width: 90%;
		margin: 0 auto;
	}

	.two-thirds-line {
		position: absolute;
    height: 40px;
    border-right: solid;
    border-width: 6px;
    top: -12px;
    right: 229px;
    z-index: 1;
	}

	.arrow {
		float:left;
		width: ~"calc(100%)";
		height: 15px;
		background: #bdbdbd;
		position: relative;
	}

	.arrow:before {
	 content:"";
	 position: absolute;
	 right: 100%;
	 top: -13px;
	 width: 0;
	 height: 0;
	 border-top: 20px solid transparent;
	 border-right: 26px solid #bdbdbd;
	 border-bottom: 20px solid transparent;
	}

	.arrow:after {
	 content:"";
	 position: absolute;
	 left: 100%;
	 top: -13px;
	 width: 0;
	 height: 0;
	 border-top: 20px solid transparent;
	 border-left: 26px solid #bdbdbd;
	 border-bottom: 20px solid transparent;
	}

	.textWrapperLeft {
		float: left;
		width: ~"calc(65%)";
		margin-top: 0px;
	}

	.textWrapperRight {
		float: right;
		width: ~"calc(32%)";
		margin-top: 0px;
	}

	.largeTextWrapper {
	  padding: @padding;
	}

	.largeText {
		margin: auto;
	  font-size: 100px;
	  color: #000;
	  text-align: center;
		line-height: normal;
	}

	.mediumTextWrapper {
		height: 36px;
	  padding-top: 22px;
	}

	.mediumText {
		margin: auto;
	  font-size: 30px;
	  color: #000;
	  text-align: center;
	}

	.minutesDivLeft {
		float: left;
		width: ~"calc(65%)";
		height: 45px;
		margin-top: 37px;
		padding-top: 22px;
		background: #455469;
	}

	.minutesDivRight {
		float: right;
		width: ~"calc(32%)";
		height: 45px;
		margin-top: 37px;
		padding-top: 22px;
		background: #455469;
	}

	.smallText {
		margin: auto;
		font-size: 20px;
		color: #fff;
		text-align: center;
	}

/////creative_considerations_for_mobile_video_us_en Course Component End/////
