.animation-card-component{
	.animation-card-inner{
	    //border-radius: 10px;
	    //display: inline-block;
	    text-align:center;
	    height:100%;
	}
	.animation-card-item{
	    padding:5px;
	    //margin-bottom:5px;
	}
		.animation-card-title{
		font-weight: bold;
		font-size:25px !important;
	    //text-align:center;
	    //display: inline-block;
	    //border-radius: 2px;
	    padding: 5px;
	    padding-right:0px;
	    //margin: 0 auto;
	}
	.animation-card-body{
		font-size:20px !important;
    	padding: 5px;
		//text-align:left !important;
		border-radius: 10px;
		//display: inline-block;

	}
	.animation-card-standard{
		font-size:20px !important;
    	padding: 5px;
		text-align:left;
	}



}

