// Font setup
// ==========
@font-face {
    font-family: freight-sans-pro;
    src: url(./fonts/freight-sans-pro_book.woff);
}
@font-family: 'freight-sans-pro', Helvetica, Arial, sans-serif;

@font-weight-light: 300;
@font-weight-regular: 400;
@font-weight-bold: 700;

@menu-title-font-size: 48px;
@page-title-font-size: 48px;
@component-title-font-size: 36px;
@item-title-font-size: 24px;
@sub-title-font-size: 18px;

@body-text-font-size: 16px;
@instruction-text-font-size: 14px;
@button-text-font-size: 18px;

@title-line-height: 120%;
@body-line-height: 140%;

@icon-size: 24px;


//  Detailed Font setup
// ===================

@menu-title-font-weight: @font-weight-light;
@menu-title-line-height: @title-line-height;

@page-title-font-weight: @font-weight-light;
@page-title-line-height: @title-line-height;

@component-title-font-weight: @font-weight-light;
@component-title-line-height: @title-line-height;

@item-title-font-weight: @font-weight-light;
@item-title-line-height: @title-line-height;

@sub-title-font-weight: @font-weight-light;
@sub-title-line-height: @title-line-height;

@body-text-font-weight: @font-weight-regular;
@body-text-line-height: @body-line-height;

@instruction-text-font-weight: @font-weight-bold;
@instruction-text-line-height: @body-line-height;

@button-text-font-weight: @font-weight-light;
@button-text-line-height: @body-line-height;

:lang(zh-Hans) {
  body {
    font-family: "Source Han Sans";
  }
  .duration {
      margin-left: -5px;
  }

  .co-jump-link {
      margin-left: -4px;
  }
}

:lang(zh-Hant) {
  body {
    font-family: "Source Han Sans";
  }
  .duration {
      margin-left: -5px;
  }

  .co-jump-link {
      margin-left: -4px;
  }
}

:lang(ja) {
  body {
    font-family: "MS PGothic";
  }
}

:lang(ar) {
  body {
    font-family: "Segoe UI";
  }
}

:lang(ko) {
  body {
    font-family: "Nanum Gothic";
  }
}

:lang(tr) {
  body {
    font-family: "freight-sans-pro";
  }
}

:lang(ru) {
  body {
    font-family: "Segoe UI";
  }
}
