<div class="component-inner sortable-inner">
    {{> component this}}
    <div class="sortableWrap">
		<div class="component-widget sortable-widget">
			<ul class="sortable">
				{{#each _items}}
				 <li class="sortable-item component-item component-item-color {{#unless ../_isEnabled}}{{#if ../_canShowMarking}}{{#if _isCorrect}}correct{{else}}incorrect{{/if}}{{/if}}{{/unless}} item-{{@index}}">
					<div class="sortable-item-inner">
						{{{text}}}
					</div>
				</li>
				{{/each}}
			</ul>
		</div>
	</div>
	<div class="buttons">
		<button class="submitBtn buttons-action" aria-label="{{_buttons._submit}}">{{_buttons._submit}}</button>
		<button class="resetBtn buttons-action" aria-label="{{_buttons._reset}}">{{_buttons._reset}}</button>
    </div>
</div>
