.textbox-info {
    @light-blue: #00b9ff;
    @light-grey: #bdbebe;
    @text-color: @light-blue;
    @border-color: @light-blue;
    @border-size: 3px;
    @rotated-border-color: @light-grey;
    @margin: 2%;

    &,
    & *,
    & *::after,
    *::before {
        box-sizing: border-box;
    }

    .square {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        padding-bottom: 100%;
    }

    .cell {
        display: inline-block;
        margin: 3%;
        padding: 0 6px;
        vertical-align: top;
        width: 100%;
        font-size: 16px;
    }

    .cell-25 { width: 25%; }
    .cell-33 { width: 33.333333%; }
    .cell-50 { width: 50%; }

    .textbox-info-list {
        color: @text-color;
        display: flex;
        justify-content: space-between;

        padding: 0;
        margin: 0 -6px 12px;
        font-size: 0;

        .textbox-info-item {
            box-sizing: border-box;
            text-align: center;
            position: relative;
            display: inline-block;

            .title {
                @size: 5vmin;
                font-size: @size;
                line-height: @size;
            }

            .body {
                font-size: 2vmin;
            }

            .content {
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 90%;
                left: 50%;
            }

            &::before,
            &::after {
                content: " ";
                width: 100%;
                height: 100%;
                border: @border-size solid @border-color;
                position: absolute;
                left: 0;
                top: 0;
            }

            &::after {
                content: " ";
                border: @border-size solid @rotated-border-color;
                transform: rotate(10deg);
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .textbox-info .textbox-info-list .textbox-info-item .body {
        font-size: 2vmin;
    }
}