<div class="text-inner component-inner">
  <div class="mobile-animation-inner clearfix">
  <h3>{{{displayTitle}}}</h3>
    <p>{{{body}}}</p>
    <div class="mobile-animation-image-left">
      <img src="{{{_resources.phone}}}" />
    </div>
    <div class="mobile-animation-items">
    {{#each _items}}
      <div class="mobile-animation-item fadeIn" data-popup="{{{popup}}}">
        <img src="{{{../_resources.line}}}" class="mobile-animation-line" />
        <img src="{{{icon}}}" class="mobile-animation-icon" />
        <div class="mobile-animation-text">{{{text}}}</div>
      </div>
    {{/each}}
    </div>
    <div class="mobile-animation-image-right">
      <img src="{{{_resources.phone}}}" />
    </div>
  </div>
  <div>{{{_preLinkBody}}}<a href={{{_link}}}>{{{_linkBody}}}</a>{{_postLinkBody}}</div>
</div>