<div class="component-inner threeCol-inner">
    {{> component this}}
	<div class="component-widget threeCol-widget">
        <div class="threeColWrap">
            {{#each _items}}
                <div class="threeCol-item-inner">
                    <div class="threeCol-imgWrap">
                        {{#if _graphic.src}}<img src="{{_graphic.src}}" id="threeCol-img" {{#if _graphic.alt}} aria-label="{{_graphic.alt}}" tabindex="0"{{else}} class="a11y-ignore" aria-hidden="true" tabindex="-1"{{/if}}/>{{/if}}
                    </div>
                    <div class="threeColtext">
                        <span>{{{text}}}</span>
                    </div>
                </div>
            {{/each}}
        </div>
	</div>
</div>
