<div class="arrow-graphic-inner component-inner" role="region" aria-label="{{_globals._components._graphic.ariaRegion}}">
    {{> component this}}
    <div class="arrow-graphic-widget component-widget{{#if _graphic.attribution}} arrow-graphic-widget-attribution{{/if}}">
        <img src="{{_graphic.src}}" aria-label="{{_graphic.alt}}" data-large="{{_graphic.large}}" data-small="{{_graphic.small}}"  tabindex="0"/>
    </div>
    {{#if _graphic.attribution}}
        <div class="graphic-attribution">{{{_graphic.attribution}}}</div>
    {{/if}}
</div>
