.menu-title, .menu-body{
	//color: @inverted-foreground-color;
	margin-bottom:@menu-title-padding-bottom;
	z-index:2;
	position:relative;
}

.menu {
	position:relative;
	background: @primary-color;
	.menu-container {
		//.responsive-large;
		//.responsive-medium;
		//.responsive-small;
	}

	.menu-container-inner {
		padding:@menu-body-padding;
	}

	.menu-top-graphic {
	    position: absolute;
	    z-index:0;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 299px;
	    background-image: url("./assets/bg_mast_top.png");
	    background-repeat: repeat-x;
    }

	.menu-item {
		//.responsive-medium;
		//.responsive-small;
		width:50%;
		float:left;
        .dir-rtl & {
            float:right;
        }
		margin-top:@menu-body-padding-bottom;
		margin-bottom:20px;


		&.nth-child-even{
			.menu-item-inner{
				margin-left:5%;
		        .dir-rtl & {
		            margin-left:inherit;
		            margin-right:5%;
		        }
			}
		}

		&.nth-child-odd {
			clear: both;

			.menu-item-inner {
				margin-right:5%;
                .dir-rtl & {
                    margin-right:inherit;
                    margin-left:5%;
                }
			}
		}
	}

	.menu-item-inner {
		background: @background-color;
		padding-bottom:20px;
		position:relative;
		padding:0 !important;
	}

	.menu-graphic a {
		display: block;
	}

	.menu-item-title {
		padding:10px;
	}
	.page-level-progress-menu-item {
		padding:20px;
		padding-top:0px;
		padding-bottom:0px;
		margin-top: -25px;
	}
	.menu-item-body {
		padding:10px;

	}

	.menu-item-button {
		padding:10px;

		button {
			min-width: 112px;
			padding: 10px 24px;
		}

		a {
			text-decoration: none;
			background-color:@button-color;
			color:@button-text-color;
			padding:@button-padding;

			&:hover {
				background-color:@button-hover-color;
				color:@button-text-hover-color;
			}

			&.visited {
				background-color:@button-disabled-color;
				color:@button-text-disabled-color;
			}
		}
	}

	.menu-item-duration {
		float:right;
        .dir-rtl & {
            float:left;
        }

		.durationLabel {
			position: relative;
		}

		.duration {
			position: relative;
		}
	}
}



@media all and (max-width:@device-width-medium) {
	.menu-title-inner{
		padding:15px 0 0;
	}

	.menu-body-inner{
		padding:0px 0 10px;
	}

   	.menu{

   		.menu-inner {
			padding:0;
		}

		.menu-item {
			width:78%;
			float: none;
			margin-bottom:20px;
			overflow: auto;

			.dir-rtl & {
				float: none !important;
			}

			&.nth-child-even, &.nth-child-odd {

				.menu-item-inner {
					margin:0 auto !important;
					width: 100%;
					float: none !important;
					overflow: auto;

					.dir-rtl & {
	                    margin: 0 auto;
	                }
				}
			}
		}
   	}
}

@media all and (max-width:540px) {
	.menu-item {
		width:100% !important;
	}
}
