<div class="component-inner barGraph-inner">
    {{> component this}}
    <div class="barGraphWrap">
		<div class="component-widget barGraph-widget">
			<div class="barGraph">
				{{#each _items}}
                    <div class="percentages">
                        <ul>
                            <li>100%</li>
                            <li>80%</li>
                            <li>60%</li>
                            <li>40%</li>
                            <li>20%</li>
                            <li>0%</li>
                        </ul>
                    </div>
				    <div class="barGraph-item component-item component-item-color" style="height:{{{height}}}">
						<div class="barGraph-item-state">

                            <div class="left-graph-wrap">
                                <div class="left-graph-container">
                                    <div class="left-graph" style="height:{{{leftGraphHeight}}}; background-color:{{{leftColor}}}; border:{{{border}}};"></div>
                                </div>
                                <div class="barGraph-item-inner">{{{leftText}}}</div>
                            </div>

                            <div class="right-graph-wrap">
                                <div class="right-graph-container">
                                    <div class="right-graph" style="height:{{{rightGraphHeight}}}; background-color:{{{rightColor}}}; border:{{{border}}};"></div>
                                </div>
                                <div class="barGraph-item-inner">{{{rightText}}}</div>
                            </div>
                            <div class="graphHeadline"><h2>{{{headline}}}</h2></div>
                        </div>
				    </div>
				{{/each}}
			</div>
		</div>
	</div>
</div>
