<div class="animation-card-inner component-inner">
    {{> component this}}
    <div class="animation-card-inner clearfix">
                {{#each _items}}
                <div id={{@index}} class="animation-card-item">
                <div class="animation-card-body">{{{body}}}</div>
                </div>
                {{/each}}
    </div>
</div>