<div class="survey-feedback-inner component-inner">
	{{> component this}}

	<div class="survey-feedback-widget">
		{{#if displayFeedbackBody}}
			<div class="survey-feedback-body">
				{{{feedbackBody}}}
			</div>
		{{/if}}
		{{#each responses}}
			<div class="survey-feedback-item {{odd @index}}">
				<div>
					{{{../prefix}}}<span class="survey-feedback-value">{{{value}}}</span>{{{../suffix}}}
				</div>
			</div>
		{{/each}}
	</div>
	{{#if displayFeedbackPostBody}}
		<div class="survey-feedback-postBody">
			{{{feedbackPostBody}}}
		</div>
	{{/if}}
</div>
