.text-overlay-widget {
  position: relative;
  display: inline-block;
  width: 100%;

  img {
      position: relative;
      display: block;
      margin: 0 auto;
      z-index: 2;
  }

  .text-overlay-item-inner {
      margin-bottom: 20px;
  }

  .graphic-attribution {
      display: block;
      margin: 0 auto;
      text-align: center;
  }

}

.overlayText {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: 0 auto;
    z-index: 3;
    line-height: normal;

    span {
        display: block;
        margin: 0 auto;
        padding: 12px;
        text-align: center;
    }
}
