.survey-checkbox-component {

    input[type="checkbox"] {
        display:none;
    }

    .survey-checkbox-item {

        .hasGraphic {
            position: relative;
            width:50%;
            margin-bottom:8px;
            float:left;

            &.even{
                label{
                    margin-left:5%;
                }
            }

            &.odd{
                clear: both;

                label{
                    margin-right:5%;
                }
            }

            @media all and (max-width:760px) {
                width:100%;
                &.even, &.odd{
                    label{
                        margin-left:0%;
                        margin-right:0%;
                    }
                }
            }
        }
    }

    .survey-checkbox-item label {
        color:@item-text-color;
        display:block;
        border:@item-border;
        margin-bottom:2px;
        position:relative;
        z-index:1;
        background-color: @item-color;
        overflow: hidden;

        img{
            vertical-align: bottom;
        }

        .survey-checkbox-answer-icon{
            color: @item-text-color;
            &:before {
                content: "\e65e";
                color: #E2E8F3
            }
        }

        &.hasGraphic {
           display:inline-block;
        }

        &.selected {
            color:@item-text-selected-color;
            background-color:@item-selected-color;
            .survey-checkbox-answer-icon{
                &:before {
                    content: "\e633";
                    color: #00CC33;
                }
            }
        }
    }

    .survey-checkbox-item-inner {
        padding:14px;
        margin-left:38px;
        padding-top:13px;
        font-size:25px;
    }

    .survey-checkbox-item input {
        position:absolute;
        top:14px;
        left:25px;
    }

    .survey-checkbox-item-checkbox{
        position: relative;
    }

    .survey-checkbox-item-state {
        background: none;
        position: absolute;
        left: 10px;
        width: @icon-size;
        height: @icon-size;
        top: 50%;
        margin-top: -(@icon-size/2);
        z-index: 0;
    }

    .hasGraphic {
        .survey-checkbox-item-state{
            top: inherit;
            bottom: 16px;
        }
    }

    .survey-checkbox-correct-icon {
        color: @icon-correct-color;
        display: none;
    }

    .survey-checkbox-incorrect-icon {
        color: @icon-incorrect-color;
        display: none;
    }

    .button {
        clear: both;
        float:left;
    }

    .survey-checkbox-widget {

        &.user {
            .survey-checkbox-item-icon {
                display: none;
            }
            .incorrect {
                .selected .survey-checkbox-incorrect-icon {
                    display: block;
                }
            }
            .correct {
                .selected .survey-checkbox-correct-icon {
                    display: block;
                }
            }
        }

        &.model {
            .survey-checkbox-item-icon {
                display: none;
            }
            .selected .survey-checkbox-correct-icon {
                display: block;
            }
        }

        &.disabled {
            .survey-checkbox-item label.selected {
                background-color:@item-selected-color;
            }

            .survey-checkbox-item.correct .selected .state {
                color:@icon-correct-color;
            }

            .survey-checkbox-item.incorrect .selected .state {
                color:@icon-incorrect-color;
            }
        }

    }
}

.no-touch {

    .survey-checkbox-component {

        .survey-checkbox-widget {
            &:not(.disabled) {
                .survey-checkbox-item label:hover {
                    color:@item-text-hover-color;
                    background-color:@item-hover-color;
                }
            }
        }
    }
}