.answers {
	width: calc~"(100% - 2px)";
	margin: 0 0 12px 0;
	background-color: #fff;
	overflow-x: hidden;
    overflow-y: auto;
	border: 1px solid #4267b2;
	border-radius: 6px;
}

.circle {
	width: 10px;
	height: 10px;
	background: #888;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.answerRow {
	width: 100%;
	min-height: 35px;
	margin: 5px 0;
}

#draggable {
    position: relative;
    display:inline-block;
	z-index: 11;
	width: 33.3%;
	height: 35px;
	min-height: 35px;
	border: none !important;
	color: #444444;
	cursor: move;
}

#draggable:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.ui-draggable-dragging {
	z-index: 11;
	width: 33.3%;
	max-width: 308px;
	min-height: 35px;
	background : #ff9966;
	font-weight : bold;
	border-radius : 5px;
	box-shadow : 0px 3px 5px rgba(0,0,0,.5);
}

.ui-draggable-dragging .draggableText {
	color : #fff !important;
}

.ui-draggable-dragging .draggableText:before {
	display: none !important;
}

.draggableText {
    //position: absolute;
    display: inline-block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto 24px;
    vertical-align: middle;
    font-size: 18px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ltrDrag:before {
	content: '\2022\2022\2022';
	position: absolute;
	display: inline-block;
	top: 35%;
    bottom: 0;
    left: 18px;
    width: 10px;
    height: 0;
	color: #CECECE;
	font-size: 16px;
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.rtlDrag:after {
	content: '\2022\2022\2022';
	position: absolute;
	display: inline-block;
	top: 65%;
    bottom: 0;
    left: 0;
	right: 0;
    width: 10px;
    height: 0;
	color: #CECECE;
	font-size: 16px;
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

.rtlDrag {
	font-size: 20px !important;
}

.rtlDrag font {
	font-size: 20px !important;
}

.droppableZone {
	position: relative;
	width: 100%;
	margin: 0;
	overflow-x: hidden;
    overflow-y: auto;
}

.dropRow {
	width: 100%;
	min-height: 50px;
	margin: 5px 0;
}

#droppable {
	position: relative;
	float: left;
	width: ~"calc(50% - 8px)";
	min-height: 44px;
	margin-right: 6px;
	background-color: #fff;
	border: 1px solid #888;
}

#droppable:nth-child(even) {
	margin-right: 0;
	margin-left: 6px;
}

.ui-state-disabled {
	opacity: 1;
}

.answers .ui-state-active {
	color: #444444 !important;
}

.droppableZone .ui-state-active {
	color: #EB8F00 !important;
}
