<div class="component-inner component-weight-scale">
    {{> component this}}
    <div class="component-widget">
        <div class="component-content">
            <div class="bar">
                <div class="plates">
                    <div class="plate plate-left">
                        {{{ _text.left }}}
                    </div>
                    <div class="plate plate-right">
                        {{{ _text.right }}}
                    </div>
                </div>
            </div>
            <div class="scale"></div>
        </div>
        {{#if _graphic.attribution}}
        <div class="graphic-attribution">{{{_backgroundImage.attribution}}}</div>
        {{/if}}
    </div>
</div>