<div class="component-inner animateIcon-inner">
    {{> component this}}
	<div class="component-widget animateIcon-widget">
        <div class="animateIconWrap">
            <div class="animateIcon-item-inner">
                <div class="animateIcon-left-column" style='{{#if leftColWidth}}width:{{{leftColWidth}}};{{/if}}'></div>
                <div class="animateIcon-center-column" style='{{#if centerColWidth}}width:{{{centerColWidth}}};{{/if}}'>
                    <img src="{{_graphic.src}}" id="animateIcon-img" {{#if _graphic.margin}}style='margin:{{_graphic.margin}} 0';{{/if}} {{#if _graphic.alt}} aria-label="{{_graphic.alt}}" tabindex="0"{{else}} class="a11y-ignore" aria-hidden="true" tabindex="-1"{{/if}}/>
                </div>
                <div class="animateIcon-right-column" style='{{#if rightColWidth}}width:{{{rightColWidth}}};{{/if}}'></div>
                {{#each _items}}
                    {{#if icon.src}}
                    <div class='animateIcon-icon-wrap'>
                        <img src='{{{icon.src}}}' {{#if icon.alt}}alt='{{{icon.alt}}}'{{/if}} style='{{#if icon.maxWidth}}max-width:{{{icon.maxWidth}}};{{/if}} {{#if icon.topMargin}}margin-top:{{{icon.topMargin}}};{{/if}}' />
                        {{#if icon.text}}<div class='animateIcon-text' style='{{#if icon.fontSize}}font-size:{{{icon.fontSize}}};{{/if}} {{#if icon.padding}}padding:{{{icon.padding}}};{{/if}} {{#if icon.fontWeight}}font-weight:{{{icon.fontWeight}}};{{/if}}'>{{{icon.text}}}</div>{{/if}}
                    </div>
                    {{/if}}
                {{/each}}
                <div class="animateIcontext">
                    <span>{{{text}}}</span>
                </div>
            </div>
        </div>
	</div>
</div>
