{{! Maintainers - Sean Callahan <scallahan@fb.com>}}
<div class='flipCard-inner component-inner'>
    {{> component this}}
    <div class="flipCard-widget component-widget">
        {{#each _items}}
            <div class='flipCard-item flipCard-item-tap'>

                <div class='flipCard-item-front flipCard-item-face'>
                    <img src='{{{frontImageSrc}}}' style='{{#if frontImgWidth}}width:{{{frontImgWidth}}};{{/if}}
                    {{#if frontImgTop}}top:{{{frontImgTop}}};{{/if}}
                    {{#if frontImgbottom}}bottom:{{{frontImgbottom}}};{{/if}}
                    {{#if frontImgleft}}left:{{{frontImgleft}}};{{/if}}
                    {{#if frontImgright}}right:{{{frontImgright}}};{{/if}}
                    {{#if frontImgOpacity}}opacity:{{{frontImgOpacity}}};{{/if}}'
                    class='flipCard-item-frontImage'/>

                    <div class="flipCard-item-frontHeading" style="{{#if textShadow}}filter: drop-shadow({{{textShadow}}});{{/if}}
                    {{#if fontSizeHeading}}font-size:{{{fontSizeHeading}}};{{/if}} {{#if fontColor}}color:{{{fontColor}}};{{/if}}
                    {{#if padding}}padding:{{padding}};{{/if}}">
                    {{{frontHeading}}}
                    </div>

                    <div class="flipCard-item-frontOptions" style="{{#if textShadow}}filter: drop-shadow({{{textShadow}}});{{/if}}
                    {{#if fontSizeText}}font-size:{{{fontSizeText}}};{{/if}} {{#if fontColor}}color:{{{fontColor}}};{{/if}}
                    {{#if padding}}padding:{{padding}};{{/if}}">
                    {{{frontListOfOptions}}}
                    </div>

                    {{#if frontFooter}}
                    <div class="flipCard-item-frontFooter" style="{{#if textShadow}}filter: drop-shadow({{{textShadow}}});{{/if}}
                    {{#if frontFooterColor}}color:{{{frontFooterColor}}};{{/if}}{{#if frontFooterPadding}}padding:{{frontFooterPadding}};{{/if}}">
                    {{{frontFooter}}}
                    </div>
                    {{/if}}

                </div>

                <div class='flipCard-item-back flipCard-item-face'>
                    <div class="flipCard-item-backHeading" style="{{#if textShadow}}filter: drop-shadow({{{textShadow}}});{{/if}}
                    {{#if fontSizeHeading}}font-size:{{{fontSizeHeading}}};{{/if}}{{#if fontColor}}color:{{{fontColor}}};{{/if}}
                    {{#if padding}}padding:{{padding}};{{/if}}">
                    {{{backHeading}}}
                    </div>
                    <div class="flipCard-item-backOptions" style="{{#if textShadow}}filter: drop-shadow({{{textShadow}}});{{/if}}
                    {{#if fontSizeText}}font-size:{{{fontSizeText}}};{{/if}}{{#if fontColor}}color:{{{fontColor}}};{{/if}}
                    {{#if padding}}padding:{{padding}};{{/if}}">
                    {{{backListOfOptions}}}
                    </div>
                </div>

            </div>
        {{/each}}
    </div>
</div>
