<div class="survey-results-inner component-inner">
	{{> component this}}

	<div class="survey-results-widget">
		{{#if displayResultsBody}}
			<div class="survey-results-body">
				{{{resultsBody}}}
			</div>
		{{/if}}
		{{#each results}}
			<div class="survey-results-item-{{id}} {{odd @index}}">
				{{#if ../showQuestion}}
					<div class="survey-results-question">{{{question}}}</div>
				{{/if}}
				{{#if values}}
					{{#each values}}
						<div>
							{{{../../../prefix}}}<span class="survey-results-value">{{{this}}}</span>{{{../../../suffix}}}
						</div>
					{{/each}}
				{{else}}
					<div>
						{{{../../prefix}}}<span class="survey-results-value">{{{value}}}</span>{{{../../suffix}}}
					</div>
				{{/if}}
			</div>
		{{/each}}
		{{#if displayResultsPostBody}}
			<div class="survey-results-postBody">
				{{{resultsPostBody}}}
			</div>
		{{/if}}
	</div>
</div>