  @facebook-blue:#4267b2;
  @facebook-green:#6BCEBB;
  @red: #f26c4f;
  @green: #82ca9c;

.co-jump-component {
    position: relative;
    height:100%;
    width: ~"calc(100% - 24px)";
    padding: 12px;
    margin-left: auto;
    margin-right: auto;


  .co-jump_text {
    min-height:70px;
    height:100%;
    padding-left:70px;
    padding-right:30px;

    .dir-rtl & {
        text-align: right;
    }
  }

  .co-jump_image {
    min-height:70px;
    position: absolute;

    .dir-rtl & {
        left: 0px;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }
  }

  a:visited {
      color: @facebook-blue !important;
      font-weight: 900 !important;
  }

  a:link {
      color: @facebook-blue !important;
      font-weight: 900 !important;
  }

  /* mouse over link */
  a:hover {
      color: @facebook-blue !important;
      font-weight: 900 !important;
  }

  /* selected link */
  a:active {
      color: @facebook-blue !important;
      font-weight: 900 !important;
  }
}
