.content-narrative-component {

    &.desktop {
        .content-narrative-slide-container {
            float: left;
            width: 60%;
        }
        .content-narrative-slider-graphic {
            margin-right: 0;
            width:60%;
        }
        .content-narrative-strapline {
            display:none;
        }
    }

    .content-narrative-widget {
        position: relative;
        background: @inverted-background-color;
        border-right:1px solid @button-color;
        border-left:1px solid @button-color;
    }

    .content-narrative-content {
        float: right;
        width: 40%;
        background: @inverted-background-color;
        color: @inverted-foreground-color;
    }

    .content-narrative-content-inner {
        padding:20px;
    }

    &.mobile {
        .content-narrative-content {
            display:none;
        }
    }

    .content-narrative-slide-container {
        width: 100%;
        position: relative;
        overflow-x: hidden;
        float: left;
    }

    .content-narrative-slider-graphic {
        float: left;
        position: relative;
    }

    .content-narrative-item-title {
        position:relative;
        display:block;
    }

    .content-narrative-indicators {
        position:absolute;
        right:((@icon-size*4)+4);
        top:((@icon-size/2)-(@icon-size/5.5));
    }

    .content-narrative-progress {
        width: (@icon-size/3);
        height: (@icon-size/3);
        display: inline-block;
        background-color: @item-color;
        border:1px solid @foreground-color;
        & when (@item-border-width = 1px) {
            border: @item-border;
        }
        border-radius: 50%;
        margin-left: 4px;
        &.selected {
            background-color: @item-text-color;
        }
    }

    .content-narrative-slide-interface {
       height: (@icon-size*2);
       background-color:@button-color;
    }

    .content-narrative-navigation-top {
        position: relative;
    }
    .content-narrative-navigation-bottom {
        clear: both;
        position: relative;
    }

    .content-narrative-controls {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        /*margin-top: -(@icon-size);*/
        z-index: 10;
        text-decoration: none;
        background-color:@button-color;
        &:hover {
            background-color:@button-hover-color;
            .icon {
                color:@button-text-hover-color;
            }
        }
        .icon {
            margin: (@icon-size/2);
            color:@button-text-color;
        }
    }

    .content-narrative-control-left {
        right:(@icon-size*2);
    }

    .content-narrative-control-right {
        right: 0;
    }

    .content-narrative-strapline {
        background-color: @inverted-background-color;
        color: @inverted-foreground-color;
        height: auto;
        position: relative;
    }

    .content-narrative-strapline-header {
        overflow: hidden;
        position: relative;
    }

    .content-narrative-strapline-title {
        float: left;
    }

    .content-narrative-strapline-title-inner {
        height: (@item-padding-top + @item-padding-bottom + @icon-size);
        line-height: (@item-padding-top + @item-padding-bottom + @icon-size);
        padding-left: (@icon-size/2);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .content-narrative-popup-open {
        display: block;
        position: absolute;
        top:0;
        right:0;
        text-decoration: none;
        z-index: 5;
        background-color: @inverted-background-color;
        padding: @item-padding;
        .icon {
            color: @inverted-foreground-color;
            &:hover {
                color: lighten(@inverted-background-color, 30%);
            }
        }
    }

    .content-narrative-hidden {
        display:none;
    }

}

.narrative-slider-graphic  {
    img {
        display: block;
        position: relative;
        max-width: 80%;
        margin: 0 auto;
    }
}

.narrative-indicators {
    margin-top: 12px;
}
