{{! Maintainers - Brian Quinn}}
<div class="content-narrative-inner component-inner">
    {{> component this}}
    <div class="content-narrative-widget component-widget">

        <div class="content-narrative-slide-interface content-narrative-navigation-top">
            <a href="#" class="content-narrative-controls content-narrative-control-left">
                <div class="icon icon-controls-left"></div>
            </a>
            <a href="#" class="content-narrative-controls content-narrative-control-right">
                <div class="icon icon-controls-right"></div>
            </a>

            <div class="content-narrative-indicators">
                {{#each _items}}
                <div class="content-narrative-progress component-item-color component-item-border"></div>
                {{/each}}
            </div>
        </div>

        <div class="content-narrative-strapline">
            <div class="content-narrative-strapline-header">
                <div class="content-narrative-strapline-header-inner clearfix">
                    {{#each _items}}
                    <div class="content-narrative-strapline-title">
                        <h5 class="content-narrative-strapline-title-inner">
                           {{{strapline}}}
                        </h5>
                    </div>
                    {{/each}}
                </div>
            </div>
            <a href="#" class="content-narrative-popup-open" tabindex="-1">
                <div class="icon icon-plus"></div>
            </a>
        </div>

        <div class="content-narrative-slide-container">
        
        </div>

        <div class="content-narrative-content">
            <div class="content-narrative-content-inner">
                {{#each _items}}
                <div class="content-narrative-content-item">
                    <div class="content-narrative-content-title">
                        <h5 class="content-narrative-content-title-inner">
                           {{{title}}}
                        </h5>
                    </div>
                    <div class="content-narrative-content-body">
                        <div class="content-narrative-content-body-inner">
                            {{{body}}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        <div class="content-narrative-slide-interface content-narrative-navigation-bottom">
            <a href="#" class="content-narrative-controls content-narrative-control-left">
                <div class="icon icon-controls-left"></div>
            </a>
            <a href="#" class="content-narrative-controls content-narrative-control-right">
                <div class="icon icon-controls-right"></div>
            </a>

            <div class="content-narrative-indicators">
                {{#each _items}}
                <div class="content-narrative-progress component-item-color component-item-border"></div>
                {{/each}}
            </div>
        </div>

    </div>
</div>