<div class="survey-radio-inner component-inner">
	{{> component this}}

	<div class="component-widget survey-radio-widget">
		{{#each _items}}
			<div class="survey-radio-item component-item component-item-color component-item-border item-{{@index}} {{odd @index}}">
				<label class="component-item-text-color component-item-border{{#if selected}}selected{{/if}} {{#if _graphic}}hasGraphic{{/if}}">
					<div class="survey-radio-item-state">
						<div class="survey-radio-item-icon survey-radio-answer-icon component-item-text-color icon"></div>
					</div>
					<input type="radio" name="group-{{../_id}}" class="survey-radio-item-input" value="{{value}}">
					{{#if _graphic}}
						<img src="{{_graphic.src}}" title="{{_graphic.title}}" alt="{{_graphic.alt}}">
					{{/if}}
					<div class="survey-radio-item-inner">
						{{#if label}}
							{{{label}}}
						{{else}}
							{{value}}
						{{/if}}
					</div>
				</label>
			</div>
		{{/each}}
	</div>
</div>