<div class="qs-inner component-inner">
    {{> component this}}
    <div class="qs-widget component-widget {{#unless _isEnabled}} disabled {{#if _isInteractionComplete}} complete submitted show-user-answer {{#if _isCorrect}}correct{{/if}} {{/if}} {{/unless}}">

        {{#each _items}}
        <div class="qs-slide-container component-item {{#unless ../_isEnabled}} {{#if _isCorrect}}correct{{else}}incorrect{{/if}} {{/unless}} item-{{@index}}">
  
            <a href="#" class="qs-controls qs-control-left {{#unless ../_isEnabled}} disabled{{/unless}}" alt="{{_buttons.previous}}">
                <div class="icon icon-controls-left"></div>
            </a>
            <a href="#" class="qs-controls qs-control-right {{#unless ../_isEnabled}} disabled{{/unless}}" alt="{{_buttons.next}}">
                <div class="icon icon-controls-right"></div>
            </a>
            
            <div class="qs-slider clearfix">
                {{#each _subItems}}
                <div class="i{{_imageId}} qs-slider-graphic {{#if visited}}visited{{/if}}"></div>
                {{/each}}
            </div>

            <div class="qs-strapline">
                <div class="qs-strapline-header">
                    <div class="qs-strapline-header-inner qs-noop clearfix">
                        {{#each _subItems}}
                        <div class="qs-strapline-title">
                            <h5 class="qs-strapline-title-inner">
                            </h5>
                        </div>
                        {{/each}}
                    </div>
                    <div class="qs-strapline-header-inner clearfix">
                        {{#each _subItems}}
                        <div class="qs-strapline-title">
                            <h5 class="qs-strapline-title-inner">
                               {{{strapline}}} 
                            </h5>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        {{/each}}

        <div class="clearfix"></div>
    </div>
    <div class="buttons"></div>
</div>
