.survey-textbox-component {
    .survey-textbox-item {
        background-color: @item-color;
        padding: @item-padding;
        position:relative;
        border:@item-border;
        margin-bottom:2px;
    }
    label{
        background-color: transparent;
        margin-right:30px;
        line-height: 32px;
        float: left;
        text-align: center;
        cursor: default;
        color: @item-text-color;
    }
    .survey-textbox-item-prefix {
        width:20%;
        font-size:25px;
    }
    .survey-textbox-item-input {
        width:100%;
    }
    .survey-textbox-item-suffix {
        width:10%;
    }

    .survey-textbox-widget {
        &.submitted {
            .survey-textbox-item {
                background-color: @item-disabled-color;
            }
        }

        &.user {
            .incorrect {
                .survey-textbox-incorrect-icon {
                    display: block;
                }
            }
            .correct {
                .survey-textbox-correct-icon {
                    display: block;
                }
            }
        }

        &.model {
            .survey-textbox-select-icon {
                display: none;
            }
            .survey-textbox-correct-icon {
                display: block;
            }
        }
    }

    .survey-textbox-item-state {
        background: none;
        position: absolute;
        right: (@icon-size/2);
        width: @icon-size;
        height: @icon-size;
        top: 50%;
        margin-top: -(@icon-size/2);
        z-index: 0;
    }

    .survey-textbox-correct-icon {
        color: @icon-correct-color;
        display: none;
    }

    .survey-textbox-incorrect-icon {
        color: @icon-incorrect-color;
        display: none;
    }
}