.arrowbox-component {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: #ebebeb;
	color:#000;
	margin-bottom: 40px;

    @facebook-blue:#4267b2;
	@facebook-green:#6BCEBB;
    @red: #f26c4f;
    @green: #82ca9c;

	a:visited {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	a:link {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	/* mouse over link */
	a:hover {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	/* selected link */
	a:active {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	.arrowbox-inner {
		padding: 20px;
	}

	.arrowbox-title {
		color: #ffffff;
	}

	.arrow () {
	  &:after {
		border: solid transparent;
		border-top-color: inherit;
		color: inherit;
		border-width: 20px;
		content: " ";
		height: 0;
		left: 50%;
		margin-left: -20px;
		pointer-events: none;
		position: absolute;
		top:100%;
		width: 0;
		z-index:5;
	  }

	}
	.arrow();
	.popup {
	   color: @facebook-blue !important;
	   text-decoration: underline;
	}
}

.arrowbox-inner:nth-of-type(1) {
	background: #4267B2;
}

.arrowbox-inner:nth-of-type(2) {
	background: #3884FF;
}

.arrowbox-inner:nth-of-type(3) {
	background: #54C7EC;
}

.arrowbox-inner:nth-of-type(4) {
	background: #8EBFD4;
}

.arrowbox-inner:nth-of-type(5) {
	background: #89A1AC;
}

.arrowbox-inner:nth-of-type(6) {
	background: #5F6673;
}

.arrowbox-component:nth-of-type(1) {
    color: #4267B2;
}

.arrowbox-component:nth-of-type(2) {
    color: #3884FF;
}

.arrowbox-component:nth-of-type(3) {
    color: #54C7EC;
}

.arrowbox-component:nth-of-type(4) {
    color: #8EBFD4;
}

.arrowbox-component:nth-of-type(5) {
    color: #89A1AC;
}

.arrowbox-component:nth-of-type(6) {
    color: #5F6673;
}
