.twoCol-inner {

    .twoCol-widget {
        float: left;

        .twoColWrap {
            float: left;
            width: 100%;
            height: 100%;

            .twoCol-item-inner {
                float: left;
                height: 100%;

                .twoCol-leftCol {
                    float: left;
                    padding: 6px;
                    height: ~"calc(100% - 12px)";

                    #twoCol-img {
                        display: block;
                        margin: 6px auto;
                    }

                    .twoCol-img-heading {
                        display: block;
                        margin: 6px auto 0 auto;
                        text-align: center;
                        font-weight: bold;
                    }

                    .twoCol-img-subHeading {
                        display: block;
                        margin: 0 auto;
                        text-align: center;
                        font-size: 12px;
                    }

                    .attribution {
                        text-align: center;
                    }

                }

                .divider {
                    float: left;
                    position: relative;
                    width: 1px;
                    height: 100%;
                    background-color: #000;
                }

                .twoCol-rightCol {
                    float: right;
                    padding: 6px;
                    height: ~"calc(100% - 12px)";
                }

            }
        }

    }

}

@media only screen and (max-width: 760px) {

    .twoCol-rightCol  {
      width:~"calc(100% - 12px)" !important;
      margin-top: 0px !important;
    }

    .twoCol-leftCol  {
      width:~"calc(100% - 13px)" !important;
      margin-top: 0px !important;
    }

}
