<div class="jump-link-inner component-inner">
	{{> component this}}

	<div class="component-widget jump-link-widget">
		<div class="jump-link-items-box">
			{{#each _items}}
				<div class="jump-link-item component-item component-item-color component-item-border item-{{@index}} {{odd @index}} to-{{{navigateTo}}}" data-to="{{{navigateTo}}}">
					<label class="component-item-text-color component-item-border{{#if selected}}selected{{/if}} {{#if _graphic}}hasGraphic{{/if}}">
						<div class="jump-link-item-state">
							<div class="jump-link-item-icon jump-link-answer-icon component-item-text-color icon"></div>
						</div>
						<input type="radio" name="group-{{../_id}}" class="jump-link-item-input" value="{{value}}">
						{{#if _graphic}}
							<img src="{{_graphic.src}}" title="{{_graphic.title}}" alt="{{_graphic.alt}}">
						{{/if}}
						<div class="jump-link-item-inner">
							{{#if label}}
								{{{label}}}
							{{else}}
								{{value}}
							{{/if}}
						</div>
					</label>
				</div>
			{{/each}}
		</div>
		<div class="jump-link-text-box">
			<div class="jump-link-text"></div>
		</div>
	</div>
	<div class="clearFix">
</div>
