<div class="{{_component}}-inner component-inner">
	{{> component this}}
	<div class="{{_edge.id}} edge-container" style="width:{{_edge.options.width}}"></div>
	<img src="assets/Poster.png" class="edge-poster" />

    {{#if postAnimationBody}}
	<div class="{{_component}}-body component-body">
		<div class="{{_component}}-body-inner component-body-inner">
			{{{postAnimationBody}}}
		</div>
	</div>
	{{/if}}

</div>
