<div class="component-inner animate-phone-widget">
    {{> component this}}
     <img class="animate-phone-widget-phone" src="{{ _resources.phone }}">
     <img class="animate-phone-one animate-phone-animated" src="{{ _resources.photo_1 }}">
     <img class="animate-phone-two animate-phone-animated" src="{{ _resources.photo_2 }}">
     <img class="animate-phone-three animate-phone-animated" src="{{ _resources.photo_3 }}">
     <img class="animate-phone-four animate-phone-animated" src="{{ _resources.photo_4 }}">
     <button class="animate-phone-btn-text animate-phone-animated">{{ _resources.button_text }}</button>
     <section class="animate-phone-box-text animate-phone-animated">{{ _resources.box_text }}</section>
</div>
