.flexbox-list-component {

}

h1 {
    color: #00000;
     font: 50px Helvetica;
}

h2 {
    font: 18px Helvetica;
    color: #000000;
}


h3 {
    font: 14px Helvetica;
    color: #000000;
}

.bodyleft {

  padding: 10px;

}

.borderstyle {

@borderColor:@facebook-blue;
@borderLineWidth:0px;
@borderLineRadius:0pt;

  border-radius: @borderLineWidth;
  -moz-border-radius: @borderLineWidth;
  -webkit-border-radius: @borderLineWidth;
   border: @borderLineWidth solid @borderColor;
   border-radius: @borderLineRadius;
}

.main {

   min-height: 350px;
   margin: 0px;
   padding: 0px;
   display: -webkit-flex;
   display:         flex;
   -webkit-flex-flow: row;
           flex-flow: row;
}

.main > flexcol {


    -webkit-flex: 1 1 20%;
            flex: 1 1 20%;
    -webkit-order: 5;
            order: 5;
    -webkit-align-content: center;
            align-content: center;

   margin: 5px;
   padding: 5px;


   .borderstyle;

   height:auto;
   min-height:250px;

   background: #fff;

    -webkit-align-content: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

}

.headerflex {


    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-align-content: center;
    align-content: center;
    align-items: center;
     justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

   margin: 4px;
   padding: 5px;
   min-height: 50px;

   .borderstyle;

   background: #fff;

   min-height: 24px;

}


.imageflex {



    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-align-content: center;
    align-content: center;
    align-items: center;

    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

    -webkit-align-content: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;



   min-height: 24px;
   padding: 10px 0px 10px 0px;


}

.titleflex {

    font: 16px Helvetica;
    font-weight: bold;

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-align-content: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

   min-height: 24px;
   padding: 10px 0px 10px 0px;


}


.bodyflex {

    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;

    -webkit-align-content: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;

   min-height: 24px;
   padding: 10px 0px 10px 0px;

   .dir-rtl & {
       h3 {
           direction: rtl;
        }
   }

}



@media all and (max-width: 640px) {

   .body {

   }

   .main, #page {
    -webkit-flex-flow: column;
    flex-direction: column;
   }

  .div.columnflex {
    margin: 5px;
    width: 20%;
      .borderstyle;

   }

  .main > flexcol {

    -webkit-flex: 1 1 20%;
           flex: 1 1 20%;
    -webkit-order: 5;
           order: 5;
    -webkit-align-content: center;
    align-content: center;

   margin: 5px;
   padding: 5px;

   .borderstyle;

   height:auto;
   min-height:250px;

    -webkit-align-content: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;


   }


}
