.arrow-graphic-component {
  border-bottom-color: #fff;
  .wrap;
}

.arrow-graphic-widget-attribution {
    //this could be used to set the position to relative, and then graphic-attribution div to be absolute
    
}
.arrow-graphic-attribution {
    font-size:0.75em;
    line-height: 1em;
}
.indent {
	padding-left:20px;
}
.wrap {
  height: 500px;
  position: relative;
  overflow: hidden;

  &:before, &:after {
    content: "";    
    position: absolute;
    width: 0;
    height: 100%;
    border: 30px solid transparent;    
  }

  &:before {
    transform: translateY(-50%) translateY(-30px);
  }

  &:after {
    transform: translateY(50%) translateY(-30px);
  }
  
  &.left {
    &:before, &:after {
      left: 0;
      border-left-color: #fff;
    }
  }
  
  &.right {
    &:before, &:after {
      right: 0;
      border-right-color: #fff;
    }
  }
}