.barGraphWrap {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
}

.barGraph-widget {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    float: left;
}

.barGraph {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    float: left;
}

.percentages {
    display: none;
    float: left;
    width: 6%;

    &:first-of-type {
        display: block;
    }
    ul {
        height: 100%;
        list-style: none;
        li {
            display: block;
            position: relative;
            margin-left: 0;
            vertical-align: bottom;
            padding-left: 0 !important;
            padding-right: 0 !important;

            &:first-of-type {
                padding-top: 0 !important;
            }

            &:last-of-type {
                padding-bottom: 0 !important;
            }
        }
    }
}

.barGraph-item {
    position: relative;
    display: block;
    width: 47%;
    height: 100%;
    float: left;
}

.barGraph-item-state {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    float: left;
}

.left-graph-wrap {
    position: relative;
    width: ~"calc(50% - 40px)";
    margin: 0 20px;
    height: 85%;
    float: left;
}

.left-graph-container {
    position: absolute;
    width: ~"calc(100% - 4px)";
    height: 85%;
}

.left-graph {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: ~"calc(100% - 4px)";
    border-bottom: none !important;
}

.right-graph-wrap {
    position: relative;
    width: ~"calc(50% - 40px)";
    margin: 0 20px;
    height: 85%;
    float: left;
}

.right-graph-container {
    position: absolute;
    width: ~"calc(100% - 4px)";
    height: 85%;
}

.right-graph {
    position: absolute;
    bottom: 0;
    display: block;
    width: ~"calc(100% - 4px)";
    border-bottom: none !important;
}

.barGraph-item-inner {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: ~"calc(15% - 12px)";
    padding-top: 12px;
    font-weight: bold;
}

.graphHeadline {
    float: left;
    width: 100%;
    height: ~"calc(15% - 10px)";
    padding-top: 10px;
    text-align: center;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 768px) {
    .barGraph-item {
        width: 94%;
    }

    .percentages {
        display: block;
    }
}
