.video-threeCol-widget {
  position: relative;
  display: inline-block;
  width: 100%;


    .video-threeCol-item-inner {
      margin-bottom: 20px;
      width: ~"calc(33% - 48px)";
      float: left;
      padding: 24px;

      video {
          position: relative;
          display: block;
          width: 100% !important;
          height: auto !important;
          margin: 0 auto;
      }

        .videoTextWrap {
            position: relative;
            min-height: 30px;
            text-align: center;
            margin: 0 auto;

        .videoText {
            position: relative;
            top: 4px;
            width: ~"calc(100% - 49px)";
            margin: 0px auto 0 25px;
        }

            .volume {
                max-width: 25px;
                float: left;
            }
        }
    }
}

@media (max-width: 768px) {
    .video-threeCol-item-inner {
        width: ~"calc(100% - 48px)"!important;
    }

    video {
        max-width: 400px;
    }

    .videoTextWrap {
        max-width: 400px;
    }
}
