/////Leif Custom Layout////
.leftDiv {
  width: ~"calc(50% - 22px)";
  float:left;
  padding: 10px;
}

.titleText {
  display: block;
  font-size: 36px;
  line-height: 1;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: normal;
}

.rightDiv {
  width: ~"calc(50% - 22px)";
  float:right;
  padding: 10px;
}

.tableWidth {
  width: 45%;
}

.clickDeskContainerDiv {
  width: ~"calc(100% - 20px)";
  min-height: 190px;
  clear: both;
  margin-bottom: 10px;
  padding:20px 10px 10px 10px;
}

.imageContentDiv1 {
  width: ~"calc(16.66% - 10px)";
  float: left;
  margin-right: 10px;
}

.imageText {
  min-height: 50px;
  text-align: center;
  line-height: normal;
  width:100%;
}

@media only screen and (max-width: 760px) {
    .leftDiv {
        width: ~"calc(100% - 20px)";
    }
    .rightDiv {
        width: ~"calc(100% - 20px)";
    }
    .clickDeskContainerDiv {
      min-height: 170px;
    }
    .imageText {
      font-size: 9px;
      line-height: normal;
    }
}
///////////////
