@rotateDeg: 20deg;
@offsetWaver: 2deg;

@keyframes rotateBar {
    100% {
        transform: rotate(-@rotateDeg);
    }
    90% {
        transform: rotate(-@rotateDeg - @offsetWaver);
    }
    10% {
        transform: rotate(@rotateDeg + @offsetWaver);
    }
    0% {
        transform: rotate(@rotateDeg);
    }
}

@keyframes rotatePlate {
    100% {
        transform: rotate(@rotateDeg);
    }
    90% {
        transform: rotate(@rotateDeg + @offsetWaver);
    }
    10% {
        transform: rotate(-@rotateDeg - @offsetWaver);
    }
    0% {
        transform: rotate(-@rotateDeg);
    }
}

.repeatAnimation(@name, @time: 5.5s) {
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-duration: @time;
    animation-name: @name;
}

.component-weight-scale {
    max-width: 500px;
    max-height: 400px;
    margin: auto;
    .component-content {
        position: relative;
        width: 500px;
        margin: auto;
        height: 400px;
        .scale {
            @width: 210px;
            background: url('/assets/balance_base.png') no-repeat;
            width: @width;
            height: 325px;
            top: 0px;
            left: 50%;
            margin-left: -(@width / 2);
        }
        .bar {
            @width: 353px;
            background: url('/assets/balance_bar.png') no-repeat;
            width: @width;
            height: 48px;
            top: 24px;
            left: 50%;
            margin-left: -(@width / 2);
            transform: rotate(20deg);
            transform-origin: 50% 50%;
            .repeatAnimation(rotateBar);
        }
        .plate {
            @width: 161px;
            background: url('/assets/balance_plate.png') no-repeat;
            width: @width;
            height: 166px;
            padding: 60px 0px 10px 0px;

            font-weight: bold;
            font-size: 18px;
            color: black;
            vertical-align: bottom;
            text-align: center;
            top: 8px;
            transform-origin: top center;
            line-height: 32px;
            
            .repeatAnimation(rotatePlate);

            &.plate-left {
                left: floor(-@width / 2) + 10px;
            }
            &.plate-right {
                right: floor(-@width / 2) + 10px;
            }
        }

        .plates {
            position: relative;
            width: 100%;
            height: 100%;
        }

        .scale, .bar, .plate {
            position: absolute;
            box-sizing: border-box;
        }
        
    }
    
}

@media screen and (max-width: 768px) {
    .component-weight-scale {
        transform: scale(0.75);
    }
}
@media screen and (max-width: 480px) {
    .component-weight-scale {
        transform: scale(0.5);
    }
}